.b-footer-menu {
	overflow: hidden;
	margin: 0px;
	padding: 15px 0 7px 15px;
}

.b-footer-menu li {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	margin-right: 2px;
	margin-bottom: 2px;
}
.b-footer-menu li a {
	color: @light-green-text;
	display: block;
	text-decoration: none;
	padding: 5px 10px;
	outline: none;
	
	
	&:hover {
		color: @green-text;
		background: @green-bg-lighter;
	}
}

.b-footer-menu li.cur a {
		color: @green-text;
		background: @green-bg-lighter;
}