.m-select {
	font-family: PT Sans Narrow, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;

	box-sizing: border-box;
	height: 30px;
	margin-bottom: 10px;
	padding-right: 30px;
	padding-left: 10px;

	text-overflow: '';
	-ms-text-overflow: '';

	color: #698c15;
	border: 1px solid #698c15;
	border-radius: 4px;
	background: none right center no-repeat transparent;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAYAAAC9vt6cAAAAc0lEQVQokWNgAIKMLuHMxDYeUQYiQUY3j1h6j3AWmANiZPaI/s/oFr1MjCEgzZk9IlfAeoAWowoQMASnWmIMIagGnwKQXEa3yFWCrkRR2CN6Ka2BVySllVucKM24DEFmEx1TyLYiu4YozeiGkKUZ2RBCmgFFOG/2c2P9lQAAAABJRU5ErkJggg==');
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNiAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+PHRpdGxlPmFyci1kb3duPC90aXRsZT48cGF0aCBkPSJNMSAxbDYuOTg4IDcgNy4wMTItNyIgc3Ryb2tlPSIjNjk4QzE1IiBzdHJva2Utd2lkdGg9IjIiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIGZpbGw9Im5vbmUiLz48L3N2Zz4='), none;
	background-position: right 8px bottom 7px;

	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
	-moz-appearance: window;
	appearance: none;
}

.m-select:hover,
.m-select:active,
.m-select:focus {
	outline: none;
	background-color: transparent;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

.m-select::-ms-expand {
	display: none;
}

.m-select_big {
	font-size: 24px;
	font-weight: normal;

	width: 100%;
	height: 40px;
	padding-left: 15px;

	color: #000;
	border-color: #bbc89c;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDE0IDciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPjx0aXRsZT50cmlhbmdsZSBhcnJvdzwvdGl0bGU+PHBhdGggZD0iTTAgMGgxNGwtNyA3LTctN3oiIGZpbGw9IiM2OThDMTUiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiLz48L3N2Zz4=');
	background-position: right 10px center;
	/*box-shadow: 0 2px 3px #abb299;*/
}

.m-select_h2 {
	font-size: 25px;
	font-weight: normal;
	line-height: 35px;

	height: 35px;
	margin-top: 10px;
	padding-left: 5px;

	vertical-align: baseline;

	color: #000;
	border-color: #b1cc76;
	background-position: right 10px top 14px;
}

.m-select_h2:focus {
	border-style: solid;
	border-color: #999;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.m-select_white {
	background-color: #fff;
}

.m-select:hover,
.m-select:active,
.m-select:focus {
	outline: none;
	background-color: #fff;

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}
