.b-layout {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.b-layout_height_global {
	min-height: 100%;
}

.b-layout_push-top_45 {
	padding-top: 45px;
}

.b-layout_pull-bottom_140 {
	margin-bottom: -140px;
}

.b-layout__base {
	position: relative;
	margin: 0 auto;
	padding: 0 1%;
	min-width: 960px;
	max-width: 1280px;
}
