@import "b-header-search__subm.less";

@import "b-header-search__subm_state_active.less";

@import "b-header-search__text.less";

@import "b-header-search_layout_oldsite.less";

.b-header-search {
	position: relative;
	top: 10px;
	float: left;
	margin: 0px;
	padding: 0 0 0 6px;
	width: 60%;
	border-top: 1px solid #809352;
	border-right: 1px solid #8ca15a;
	border-bottom: 1px solid #a8c468;
	border-left: 1px solid #8ca15a;
	border-radius: 5px;
	background-color: #afc971;
	box-shadow: 0 2px 4px 0px #8ca15a inset;
}
