.b-banking-adress {
	position:relative;
	overflow: hidden;
	height: 600px;
}
.b-banking-adress__list {
	width: 45%;
	height: 600px;
	overflow-y: scroll;	
}
.b-banking-adress__list-item {
	border-bottom: 1px solid #e8e9e5;
	cursor: default;
	padding: 6px 10px 20px;
	font-size: 13px;
	line-height: 15px;
	cursor: hand;
	cursor: pointer;
}

.b-banking-adress__list-item_odd {
	background-color: #f1f5e8;
}

.b-banking-adress__list-item:hover {
	background-color: #e5efcc;
}

a.b-banking-adress__list-link {
	font-weight: bold;
	.b-link_border_yes;
	.b-link_visited_no;
	.b-link_border_style_dashed;
}

a.b-banking-adress__list-link:hover {
	.b-link_border_yes;
	.b-link_visited_no;
	.b-link_border_style_dashed;
}	
	

.b-banking-adress__list-descr {
	font-weight: bold;
	margin-top: 11px;
}

.b-banking-adress__map {
	position:absolute;
	width: 55%;
	right: 0px;
	top: 0px;
	height: 600px;
	
}

