.b-submenu-item__courses {
  text-align: center;
  float: left;
  margin-left: 12px;
}
.b-submenu-item__courses__table {
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}
.b-submenu-item__courses__link {
  font-size: 13px;
}
.b-submenu-item__courses__table__cell-1 {
  font-size: 13px;
  line-height: 16px;
  width: 150px;
  vertical-align: middle;
}
.b-submenu-item__courses__table__cell-2 {
  vertical-align: top;
}
.b-submenu-item__courses .b-bank-item-miniCard__courses__table {
  margin: -5px 0 0;
}
.b-submenu-item__courses .b-bank-item-miniCard__courses__table__body_last {
  padding-right: 0px;
}
.b-submenu-item__courses__important {
  color: #84A830;
  text-decoration: none;
}
