.b-header-menu__item__sub.b-header-menu__hidemenu {
	background: #f2ffd3;
	padding-top: 6px;
	padding-bottom: 5px;
	min-width: 100px;
	width: auto !important;
	position:absolute;
	z-index: 1000;
	display: none;
	left: 0 !important;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 5px 5px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 5px 5px rgba(0, 0, 0, 0.1);
}