.b-header-menu__item__sub__wrap__col {
	border-left: 1px solid #e1efbf;
}

.b-header-menu__item__sub__wrap__col_separator_no {
	border-left: none;
}

.b-header-menu__item__sub__wrap__col_for_ads {
	padding-left: 32px;
}