.b-header-menu__item__sub__wrap__col__list__item__link {
	color: #4d660f;
}

a.b-header-menu__item__sub__wrap__col__list__item__link,
.b-header-menu__item__sub__wrap__col__list__item__link {
	color: #4d660f;
	text-decoration: none;
	border-bottom: 1px solid #bccd92;
}

a.b-header-menu__item__sub__wrap__col__list__item__link:visited { 
	color: #4d660f;
}

a.b-header-menu__item__sub__wrap__col__list__item__link:hover {
	color: #FF5400;
	border-bottom: 1px solid #FFCBB2;	
}

a.b-header-menu__item__sub__wrap__col__list__item__link_size_l,
.b-header-menu__item__sub__wrap__col__list__item__link_size_l {
	font-size: 1.385em;
}
