.b-header-menu__item_hidemenu_yes {
	position:relative;
}


.b-header-menu__item_hidemenu_yes .b-header-menu__item__link {
	&:after {
		display: none !important;
		content: none;	
	}	
}


.b-header-menu__item_hidemenu_yes.cur {
	.b-header-menu__item__link {
		background-position: right -4px;
	}
}


