.b-header-menu__item__sub {
	position: absolute;
	top: 45px;
	left: 0;
	z-index: 1000;
	display: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background: @green-menu-bg;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	list-style: none;
}

.b-header-menu__item__sub .l-width {
	background: @green-menu-bg;
}
