a.b-header-menu__hidemenu__item__link {
	display: block;
	padding: 9px 10px 9px;
	height: auto;
	color: #3f530c;
	text-decoration: none;
	line-height: 16px;

	&:visited {
		color: #3f530c;
	}

	&:hover {
		background: #e1f2ba;
		color: #3f530c;
	}
}

.b-header-menu__hidemenu__item_current a.b-header-menu__hidemenu__item__link {
	background: #e1f2ba;
	color: #3f530c;
}

.b-header-menu__hidemenu__item_current a.b-header-menu__hidemenu__item__link:visited {
	color: #3f530c;
}

.b-header-menu__hidemenu__item_current a.b-header-menu__hidemenu__item__link:hover {
	color: #3f530c;
}
