@import "b-header-menu__item_hidemenu_yes.less";
@import "b-header-menu__hidemenu.less";
@import "b-header-menu__hidemenu__item.less";
@import "b-header-menu__hidemenu__item__link.less";

@import "b-header-menu__item.less";
@import "b-header-menu__item__link.less";
@import "b-header-menu__item__sub.less";
@import "b-header-menu__item__sub__wrap.less";
@import "b-header-menu__item__sub__wrap__col.less";
@import "b-header-menu__item__sub__wrap__col__list.less";
@import "b-header-menu__item__sub__wrap__col__list__item.less";
@import "b-header-menu__item__sub__wrap__col__list__item__link.less";

@import "b-header-menu__item__sub__wrap__col__bank-zajavka";
@import "b-header-menu__item__sub__wrap__col__day-theme";


.js-header-menu {
	/*float: left*/

}

.b-header-menu {
	margin: 0px;
	padding: 0px;
}


// :-(
.b-header-menu__inner-count {
	margin-left: 4px;
	color: #808080;
	font-size: 11px;
}

.b-header-menu__extra-heading {
	font-size: 12px;
	font-weight: normal;
}





/***/
#v5-frame .b-drop-menu__list li {
	margin-top: 5px;
	margin-bottom: 7px;
}
/***/















