.b-submenu-item__day-theme {
	padding-left: 12px;
}

.b-submenu-item__day-theme__label {
	font-size: 11px;
	margin-bottom: 5px;
}
	
a.b-submenu-item__day-theme__link {
	font-size: 18px;
	line-height: 21px;
	color: #3f530c;
	text-decoration: none;
	border-bottom: 1px solid #c1d09f;
	
	&:visited {
		color: #3f530c;
	}
	
	&:hover {
		border-bottom: 1px solid #FFCBB2;
		color: #FF5400;
	}
}

/**/

