.logo {
	display: block;
	float: left;
	width: 90px;
	height: 45px;
	background: none left top no-repeat #5f7e13;
}

.logo__link {
	display: block;
	text-decoration: none;
}

.logo__img {
	display: block;
	color: #fff;
	font-size: 24px;
}
