.b-modal__wrap {
	z-index: 169;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background: rgba(0, 0, 0, .5);
}

.b-modal__plate {
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -180px;
	width: 360px;
}

.b-modal__header {
	position: relative;
	padding-left: 20px;
	height: 50px;
	border-radius: 8px 8px 0 0;
	background: #829a11;
	color: #fff;
	font-size: 18px;
	line-height: 50px;
}

.b-modal__body {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 25px 20px;
	background: #f0f1de;
}

.b-modal__heading {
	float: left;
}

.b-modal__close {
	display: inline-block;
	float: right;
	width: 50px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
}

.b-modal__close:hover {
	color: #bae200;
}

.b-modal__fieldset {
	margin-bottom: 5px;
	font-size: 14px;
}

.b-modal__fieldset_mb {
	margin-bottom: 38px;
}

.b-modal__fieldset_mt {
	margin-top: 8px;
	margin-bottom: 15px;
}

.b-modal__label {
	margin-left: 4px;
	cursor: pointer;
}

.b-modal__input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
}

.b-modal__textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 15px;
	margin-left: 20px;
	width: 300px;
	height: 50px;
	resize: none;
}

.b-modal__submit {
	margin-left: 20px;
}
