.b-icon {
	position:relative;
}
.b-icon_pic_login {
	position:relative;
	width: 10px;
	height: 11px;
	background: (../css/less/blocks/b-icon/img/b-header-login.png) 0 0 no-repeat;
	display: inline-block;
	margin-right: 5px;
	top: 1px;
}
.b-icon_pic_header-vk {
	background: (../css/less/blocks/b-icon/img/b-header-vk-ico.png) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	position:relative;
	top: 3px;

}
.b-icon_pic_header-fb {
	background: (../css/less/blocks/b-icon/img/b-header-fb-ico.png) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	position:relative;
	top: 3px;

}
.b-icon_pic_header-tw {
	background: (../css/less/blocks/b-icon/img/b-header-tw-ico.png) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	position:relative;
	top: 3px;

}
