.b-auto-list {
	padding: 16px 18px 0 0;
}

.b-auto-list:after {
	display: block;
	clear: both;
	content: '';
}

.b-auto-list__left {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 18px;
	width: 40%;
}

.b-auto-list__right {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 18px;
	width: 50%;
}

.b-auto-list__count {
	margin-left: 4px;
	color: #747474;
	font-size: 14px;
}

.b-auto-list .b-text__h3 {
	margin-top: 0;
}

.b-auto-list__list {
	margin-bottom: 22px;
	padding-left: 32px;
	color: #037dd3;
	list-style: square;
}

.b-auto-list__elem {
	margin-bottom: 5px;
	font-size: 14px;
}
