.photorep {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 0;
  padding-top: 42.87%;
}
.photorep__info {
  font-size: 14px;
  position: absolute;
  z-index: 4;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  height: 76px;
  padding: 15px 25px;
  pointer-events: none;
  color: #fff;
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.photorep__title {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 7px;
  white-space: nowrap;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.4);
}
.photorep__photos {
  line-height: 14px;
  position: relative;
  display: block;
  padding-left: 26px;
}
.photorep__photos:before {
  position: absolute;
  top: -5px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  content: '';
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50"><path fill="#fff" d="M25 42c-9.4 0-17-7.6-17-17S15.6 8 25 8s17 7.6 17 17-7.6 17-17 17zm0-32c-8.3 0-15 6.7-15 15s6.7 15 15 15 15-6.7 15-15-6.7-15-15-15z"/><path fill="#fff" d="M20 33.7V16.3L35 25l-15 8.7zm2-14v10.5l9-5.3-9-5.2z"/></svg>');
}
.photorep__main {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 57.13%;
  height: 100%;
}
.photorep__main-thumbnail {
  position: absolute;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  left: -9999px;
  width: auto;
  min-width: 100%;
  max-width: 180%;
  height: auto;
  min-height: 100%;
  max-height: 180%;
  margin: auto;
}
.photorep__main-thumbnail:hover,
.photorep__main-thumbnail:active {
  opacity: .9;
}
.photorep_adjusted .photorep__main-thumbnail {
  max-width: 100%;
  max-height: 100%;
}
.photorep__side {
  position: absolute;
  top: 0;
  right: 0;
  width: 42.87%;
  height: 100%;
}
.photorep__nonexistent {
  display: none;
}
.photorep__elem {
  position: relative;
  z-index: 1;
  float: left;
  overflow: hidden;
  width: 48%;
  height: 49%;
  margin-bottom: 2%;
  margin-left: 2%;
}
.photorep__thumbnail {
  position: absolute;
  z-index: -1;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  left: -9999px;
  width: auto;
  min-width: 100%;
  max-width: 140%;
  height: auto;
  min-height: 100%;
  max-height: 140%;
  margin: auto;
}
.photorep__thumbnail:hover,
.photorep__thumbnail:active {
  opacity: .8;
}
.phtrep {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 400px;
  cursor: pointer;
}
.phtrep__elem {
  display: none;
}
.phtrep__elem:first-child {
  position: relative;
  display: block;
  height: 100%;
}
.phtrep__elem:first-child .phtrep__thumbnail {
  position: absolute;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  left: -9999px;
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
.phtrep__text {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 70px 40px 15px 35px;
  color: #fff;
}
.phtrep__text:after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  -o-transition: opacity .5s;
  transition: opacity .5s;
  background: none transparent;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.phtrep:hover .phtrep__text:after {
  -o-transition-duration: .1s;
  transition-duration: .1s;
  opacity: .7;
}
.phtrep__heading {
  font-family: PT Sans, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 36px;
  line-height: 1.2;
}
.phtrep__info {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  padding-left: 26px;
  background: none left top no-repeat transparent;
  background-image: url('data:image/svg+xml;utf8,<svg width="23" height="19" viewBox="0 0 23 19" xmlns="http://www.w3.org/2000/svg"><title>Slice 2</title><desc>Created with Sketch.</desc><defs><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="a"><stop stop-color="#89BD13" offset="0%"/><stop stop-color="#608013" offset="100%"/></linearGradient></defs><g fill="none" fill-rule="evenodd"><path d="M16.5 4h3.505C21.098 4 22 4.898 22 6.006v9.988c0 1.11-.893 2.006-1.995 2.006H2.995C1.902 18 1 17.102 1 15.994V6.006C1 4.896 1.893 4 2.995 4H6.5l1.056-2.112C7.8 1.398 8.45 1 9.003 1h4.994c.565 0 1.202.397 1.447.888L16.5 4zm-5 11c2.485 0 4.5-2.015 4.5-4.5S13.985 6 11.5 6 7 8.015 7 10.5 9.015 15 11.5 15zm0-2c1.38 0 2.5-1.12 2.5-2.5S12.88 8 11.5 8 9 9.12 9 10.5s1.12 2.5 2.5 2.5z" fill="url(#a)"/></g></svg>');
  background-size: auto 16px;
}
#swipebox-overlay {
  background-color: #000 !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}
#swipebox-etui {
  position: relative;
  height: 100%;
}
#swipebox-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 130px;
  left: 0;
  overflow: hidden;
}
#swipebox-ad {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 90px;
}
#swipebox-dots {
  position: absolute;
  right: 0;
  bottom: 90px;
  left: 0;
  box-sizing: border-box;
  height: 36px;
  padding: 10px 0;
  text-align: center;
}
.swipebox-dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  cursor: pointer;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  opacity: .7;
  background-color: #f2ffd3;
}
.swipebox-dot:hover {
  -o-transition: none;
  transition: none;
  opacity: 1;
}
.swipebox-dot_current {
  cursor: default;
  opacity: 1;
  background-color: #6a920f;
}
