@import (less) '../../blocks/_meta/clearfix.less';
@import (less) '../../blocks/news-case/news-case.less';

.news-grid {
  margin-bottom: 20px;
}

.news-grid__elem {
  float: left;

  width: 32%;
  min-height: 1px;
  margin-left: 2%;
}

.news-grid__elem_2x {
  width: 66%;
}

.news-grid__elem_3x {
  width: 100%;
}

.news-grid__elem:first-child {
  margin-left: 0;
}



.news-heading {
  font-family: PT Sans, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 30px;
  line-height: 1.3;

  display: block;

  height: 200px;
  padding-right: 50px;
}

.news-heading .link {
  text-decoration: none;
}



.news-image {
  position: relative;
  z-index: 1;

  display: block;
  overflow: hidden;

  height: 200px;
  margin-bottom: 10px;

  box-shadow: inset 0 0 30px rgba(0, 0, 0, .3);
}

.news-image__img {
  position: absolute;
  z-index: -1;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  left: -9999px;

  display: block;

  width: 100%;
  height: auto;
  min-height: 100%;
  margin: auto;
}





.news-piece {
  line-height: 1.4;

  position: relative;

  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;

  border-top: 1px solid #dfe5d1;
}

.news-piece_major {
  padding-top: 0;

  border-top: none;
}

.news-piece_with-image {
  min-height: 90px;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 100px;
}

.news-piece__link {
  font-size: 16px;

  padding-bottom: 3px;

  text-decoration: none;

  color: #000;
}

.news-piece_major {
  font-family: PT Sans, Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.news-piece_major .news-piece__link {
  font-size: 24px;
  line-height: 30px;
}

.news-piece__date {
  font-size: 13px;

  margin-right: .4em;

  color: #eb6400;
}

.news-piece__extra {
  font-size: 16px;

  margin-left: .4em;

  color: #666;
}

.news-piece__extra_hilite {
  color: #eb6400;
}

.news-piece__extra:before {
  content: '(';
}

.news-piece__extra:after {
  content: ')';
}

.news-piece_major .news-piece__date,
.news-piece_major .news-piece__extra {
  font-size: 17px;
}

.news-piece__img-link {
  position: absolute;
  top: 15px;
  left: 0;

  overflow: hidden;

  width: 90px;
  height: 90px;
}

.news-piece__img-link_round {
  border-radius: 100%;
}

.news-piece__img {
  width: 100%;
  height: auto;
}

.news-image:hover + .news-piece > .news-piece__link {
  color: #ff5400;
}

@media (max-width: 1100px) {
  .news-piece {
    padding-left: 0;
  }

  .news-piece_with-image {
    padding-left: 100px;
  }

  .news-piece__link,
  .news-piece__date,
  .news-piece__extra {
    font-size: 14px;
    line-height: 1.3;
  }

  .news-piece_major .news-piece__link {
    font-size: 20px;
    line-height: 1.3;
  }

  .news-piece_with-image .news-piece__link,
  .news-piece_with-image .news-piece__date,
  .news-piece_with-image .news-piece__extra {
    font-size: 13px;
    line-height: 1.4;
  }
}




.submenu {
  overflow: hidden;

  height: 45px;
  margin-bottom: 30px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #f2fed5;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.submenu__elem {
  float: left;

  height: 100%;
}

.submenu__link {
  font-size: 14px;
  line-height: 45px;

  display: block;

  height: 45px;
  padding: 0 10px;

  text-decoration: none;

  color: #3f530c;
}

.submenu__link:hover,
.submenu__link:active {
  color: #fff;
  background-color: #6b9120;
}

.submenu__elem_current .submenu__link {
  font-weight: bold;

  cursor: default;
}

.submenu__elem_current:hover .submenu__link,
.submenu__elem_current:active .submenu__link {
  color: #3f530c;
  background-color: #f2fed5;
}




.pbutton {
  display: inline-block;

  text-decoration: none;

  color: #698c15;
  border: 1px solid #698c15;
  border-radius: 4px;
}

.pbutton:hover,
.pbutton:active {
  border-color: #ff5400;
}

.pbutton_huge {
  font-size: 30px;
  line-height: 52px;

  height: 54px;
  padding: 0 1em;

  border-width: 2px;
  border-radius: 8px;
}
