//что б правую колонку вытянуть верх
.b-pushtop-16 {
	margin-top: -16px;
}


.push-left {
	float: left;
}

.push-right {
	float: right;
}

.align_center {
	text-align: center;
}

.float_none {
	float: none;
}

/* new clearfix */
.context:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


