html {
	-webkit-font-smoothing:antialiased;
	height:100%
}

body {
	font-size: 13px;
	min-width: 950px;
}

#body-wrap {
	position:relative;
	z-index: 1;
	padding-bottom: 0px;
}

#body {
	margin-bottom: 45px;
}

.l-body {
	margin-bottom:-140px;
	min-height:100%;
	height:auto !important;
	height:100%;
	overflow: hidden;
}

.l-push {
	height:140px
}

.l-footer {
	background: #6a920f;
	height: 140px;
	overflow: hidden;
	font-family: Arial, Helvetica, Sans-Serif;
	z-index: 4;

	.l-width {
		z-index: 5;
	}
}

.l-footer_v5 {
	margin-top: -140px;
}

#v5-body-wrap {
    padding-bottom: 150px !important;
}


/*для внутренних страниц сайта*/

.l-header-wrap {
	background: #6a920f;
	height: 45px;
	position:relative;
	z-index: 4;
}

.l-body-wrap {
	z-index: 1;

	.l-width {
		padding-bottom: 27px;
		padding-top: 16px;
	}
}

.l-width {
	max-width: 1280px;
	min-width: 950px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 1%;
	position: relative;
	/*width: 1284px;*/
}

.l-width-old {
    padding: 0 0%;
    position: relative;
}

.l-width-vertical-separator {
	background: #cccccc;
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	display: block;
	right: -2%;
}

.l-width-col-2-pad {
	position: relative;
	padding-right: 2%;
	overflow: hidden;
}

.l-width-col-3-pad {
	padding-left: 1%;

}

.l-body-wrap  .l-width-col-3-pad {
	margin-top: -16px;
}

.page-col-1-span-15-pad {
	padding-right: 5px;
}










