html {
	height:100%;
	font-size: 13px;
	-webkit-font-smoothing:antialiased;
}

body {
	min-width: 950px;
}

.l-body {
	overflow: hidden;
	margin-bottom:-140px;
	min-height:100%;
	height:auto !important;
	height:100%;
}

.l-push {
	height:140px;
}

.l-footer {
	overflow: hidden;
	height: 140px;
	background: #6a920f;
	font-family: Arial, Helvetica, Sans-Serif;
}

.l-footer_v5 {
	margin-top: -140px;
}

#v5-body-wrap {
    padding-bottom: 150px !important;
}



/*для внутренних страниц сайта*/

#frame {
	overflow: hidden;
}

#frame .l-footer {
	position:absolute;
	top: auto;
	bottom: 0px;
	width: 100%;
	height: 140px;
	background: #6a920f;
}



.l-header-wrap {
	position:relative;
	z-index: 1;
	height: 45px;
	background: #6a920f;
}

.l-body-wrap {

	.l-width {
		padding-top: 16px;
		padding-bottom: 27px;
	}
}

.l-width {
	margin: 0 auto;
	min-width: 950px;
	max-width: 1324px;
	/*width: 1284px;*/
}



.l-width-old {
    position: relative;
    padding: 0 1%;
    max-width: 1280px;
}


.l-width-vertical-separator {
	position: absolute;
	top: 0;
	right: -2%;
	display: block;
	width: 1px;
	height: 100%;
	background: #cccccc;
}

.l-width-col-2-pad {
	position: relative;
	overflow: hidden;
	padding-right: 2%;
}

.l-width-col-3-pad {
	padding-left: 1%;

}

.l-body-wrap  .l-width-col-3-pad {
	margin-top: -16px;
}