/*TODO: привести к общему модификатору img-pic*/
.b-icon {
	position:relative;
	display: inline-block;
}
.b-icon_pic_login {
	position:relative;
	width: 10px;
	height: 11px;
	background: url(../css/less/blocks/b-icon/img/b-header-login.png) 0 0 no-repeat;
	display: inline-block;
	margin-right: 5px;
	top: 1px;
}
.b-icon_pic_header-vk {
	background: url(../css/less/blocks/b-icon/img/b-header-vk-ico.png) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	position:relative;
	top: 3px;

}
.b-icon_pic_header-fb {
	background: url(../css/less/blocks/b-icon/img/b-header-fb-ico.png) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	position:relative;
	top: 3px;

}
.b-icon_pic_header-tw {
	background: url(../css/less/blocks/b-icon/img/b-header-tw-ico.png) 0 0 no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	position:relative;
	top: 3px;
}

.b-icon-logout {
	background: url(../css/less/blocks/b-icon/img/logout.png);
	width: 9px;
	height: 9px;
	vertical-align: middle;
}

.b-icon_layout_whear-icon {
	position: relative;
	width: 35px;
    height: 26px;
    left: 0;
	top: 8px;
	background:url(../css/less/blocks/b-icon/img/v5-weather-icons.png) 0 0 no-repeat;
	margin-left: 1px;
}
.b-icon_img_weather-0 {
	background-position:0 0;
}
.b-icon_img_weather-1 {
	background-position:0 -26px;
}
.b-icon_img_weather-2 {
	background-position:0 52px;
}
