.b-banner {
	margin: 8px 0px 20px -5px;
	
	img {
		width: 100%;
		display: block;
	}
}

.b-banner_layout_middle-page {
	margin-top: 3px;
	margin-bottom: 15px;
	margin-left: 0px;
}

.b-banner_layout_middle-page-2-col {
	float: right;
	margin-left: 30px;
}

.b-banner_layout_middle-page-3-col {
	margin-bottom: 15px;
	margin-left: 0px;
	
	object {
		height: 190px;
	}
	
	@media @desktop-mini {
		object {
			height: 145px !important;
		}
	}
}

.b-banner_layout_middle-page-4-col {
	margin-top: 0px;
	margin-left: 0px;
	
	object {
		height: 400px;
	}
	
	@media @desktop-mini {
		object {
			height: 320px !important;
		}
	}	
	
}

.b-separator {
	height: 1px;
	margin: 5px 0;
}

.b-separator_border_yes {
	background: @grey-bg;
}
.b-separator_border-color_orange {
	background: @orange-bg;
}

.b-separator-height (@separator: 1px) {
	height: @separator;	
	margin: 0px;
}


.b-separator_height_2 {
	.b-separator-height(2px);
}

.b-separator_height_4 {
	.b-separator-height(4px);
}

.b-separator_height_7 {
	.b-separator-height(7px);
}

.b-separator_height_10 {
	.b-separator-height(10px);
}

.b-separator_height_13 {
	.b-separator-height(13px);
}

.b-separator_height_17 {
	.b-separator-height(17px);
}





.b-header_type_h3 {
	font-size:1.4rem;
	font-family: @important-font;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 5px;
	a {
		.b-link_color_blue;
		.b-link_border_yes;
	}
}







/**/


.b-text {
	font-size: 0.95rem;
	line-height: 1.4rem;
	margin-bottom: 7px;
	margin-top: 4px;
	
}




.b-text_layout_cluodtag {
	color: @grey-text;
	font-size: 1rem;
	
	a {
		.b-link_color_blue;
		.b-link_border_yes;
	}
}


/**/

	
	
.b-icon {
	display: inline-block;
}
.b-icon_layout_whear-icon {
	position: relative;
	width: 35px;
    height: 26px;
    left: 0;
	top: 8px;
	background:url(../img/v5-weather-icons.png) 0 0 no-repeat;
	margin-left: 4px;
}
.b-icon_img_weather-0 {
	background-position:0 0;
}
.b-icon_img_weather-1 {
	background-position:0 -26px;
}
.b-icon_img_weather-2 {
	background-position:0 52px;
}



.b-text_color_black {
	color: @black;
}

/**/

.b-text-valute {
	color: @black;
	white-space: nowrap;
	position:relative;
	cursor: default;
	
	.b-text-valute-more {
		position: absolute;
		top: 11px;
		left: 4px;
		font-size: 10px;
		text-decoration: none;
		visibility: hidden;
	}
	
	&:hover .b-text-valute-more {
		visibility: visible;
	}
	
}

.b-text-valute_dinamic_down {
	.b-text-valute-more {
		color: @orange-text;
	}
	
	&:after {
		content: '';
		background: url(../img/valute-dinamic.png) 0 -9px;
		width: 7px;
		height: 7px;
		display: inline-block;
		margin-left: 2px;
		position:relative;
		top: -1px;	
	}
	
}

.b-text-valute_dinamic_up {
	.b-text-valute-more {
		color: @green-bg;
	}
	&:after {
		content: '';
		background: url(../img/valute-dinamic.png);
		width: 7px;
		height: 7px;
		display: inline-block;
		margin-left: 2px;
		position:relative;
		top: -1px;		
	}
}

/**/


a.b-text-ad {
	display: block;
	clear: both;
	height: 110px;
	width: 100%;
	background-position:center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position:relative;
	color: @white;
	text-decoration: none;
	font-size: 0.95rem;
	border: none;
	margin-bottom: 20px;
	margin-top: 7px;
	
	&:hover {
		text-decoration: none;
		border: none;
		color: @white;
	}
	
	ins {
		text-decoration: none;
		border: none;		
	}
	
	.b-text-ad__shadow {
		display: block;
		position:absolute;
		width: 100%;
		background: url(../img/b-news-gradient.png) 0 bottom repeat-x;
		height: 100%;		
	}
	
	&:hover {
		.b-text-ad__shadow {
			opacity: 0.85;
		}
	}
	
}

.b-ad-btn {
	&:hover {
		animation: myfirst 5s linear 2s infinite alternate;
	}

}

.b-text-ad__title {
	position:absolute;
	bottom: 0px;
	padding: 5px 5px 1px;
	font-weight: bold;
}

/**/

.b-afisha-main {
	margin-bottom: 5px;
}

.b-afisha__item {
	display: block;
	height: 69px;
	position:relative;
	background-position: center bottom; 
	margin-top: 1%;
	width: 49%;
	display: inline-block;
	
	.b-afisha-item__shadow {
		display: block;
		position:absolute;
		width: 100%;
		background: url(../img/b-news-gradient-small.png) 0 0 repeat-x;
		height: 100%;
	}

	&:hover {
		.b-afisha-item__shadow {
			opacity: 0.85;
		}
	}
	
}

.b-afisha__item_size_big {
	height: 120px;
	width: 100%;
	margin-top: 2px;
	
	.b-afisha-item__shadow {
		background: url(../img/b-news-gradient.png) 0 0 repeat-x;
	}
}

.b-afisha-main__label {
	position:absolute;
	color: @white;
	top: 0px;

	font-size: 0.75rem;
	left: 0px;
	display: block;
	text-decoration: none;
	padding: 0 3px 2px;
	
	background: #7db200;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzY3OTMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTY3MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7db200 0%, #679300 47%, #4a6700 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db200), color-stop(47%,#679300), color-stop(100%,#4a6700));
	background: -webkit-linear-gradient(top,  #7db200 0%,#679300 47%,#4a6700 100%);
	background: -o-linear-gradient(top,  #7db200 0%,#679300 47%,#4a6700 100%);
	background: -ms-linear-gradient(top,  #7db200 0%,#679300 47%,#4a6700 100%);
	background: linear-gradient(to bottom,  #7db200 0%,#679300 47%,#4a6700 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db200', endColorstr='#4a6700',GradientType=0 );
}

.b-afisha__item_count_last {
	float: right;
}


.b-afisha-main__title {
	position:absolute;
	padding: 5px 8px 5px;
	bottom: 0px;
	left: 0px;
	font-size: 0.85rem;
	color: @white;
	display: block;
}


.b-afisha__item_size_big {

	.b-afisha-main__title {
		position:absolute;
		padding: 8px;
		bottom: 0px;
		left: 0px;
		font-size: 1rem;
		color: @white;
		display: block;
		
		.b-afisha-main__deails {
			font-size: 0.85rem;
			color: @grey-text;
			display: block;
			margin-top: 2px;
		}
		
	}
}

/**/

@left_afisha_padding: 36px;

.b-tele-afisha {
	font-size: 0.95rem;
	line-height: 1.4rem;
}

.b-tele-afisha-row {
	position:relative;
	padding-left: @left_afisha_padding;
	padding-right: 20px;
	margin-bottom: 6px;
	
	a.b-tele-afisha__link {
		margin-right: 10px;
	}
	
	a.b-tele-afisha__channel {
		border: none;
		display: inline-block;
		vertical-align: middle;
		
		img {
			display: block;
		}
	}
}

.b-tele-afisha__time {
	color: @grey-text;
	text-decoration: none;
	font-size: 0.8rem;
	position:absolute;
	left: 0px;
	top: 1px;
	width: 28px;
	text-align: right;
}

a.b-tele-afisha-link-more {
	font-size: 0.85rem;
	position:relative;
	outline: none;
	left: @left_afisha_padding;
}


/**/

.b-blog-list {
	
	li {
		font-size: 1rem;
		line-height: 1.4rem;
		margin-bottom: 4px;
		
		
		.b-comments {
			font-size: 0.85rem;
			color: @grey-text;
			
		}
		
		.b-comments__count {
			text-decoration: none;
			color: @grey-text;
		}
		
		.b-comments__count_status_vip {
			color: @orange-text;
			text-decoration: none;
		}
		
		.b-blog-list__theme {
			.b-link_color_green;
			.b-link_border_yes;
			.b-link_visited_yes;
						
		}
		

		
	}
}


/*a.b-link_border_yes {
	text-decoration: none;
	border-bottom: 1px solid #aacfd9;
	
	&:hover {
		border-bottom: 1px solid #f7c4aa;
		color: @orange-text;
	}
}



a.b-link_color_green {
	color: @green-text;
	
	&:hover {
		color: @orange-text;
	}
}

a.b-link_color_grey {
	color: @grey-text;
	
	&:hover {
		color: @orange-text;
		text-decoration: underline;
	}
}


a.b-link_color_green.b-link_border_yes {
	text-decoration: none;
	border-bottom: 1px solid #d2ddb9;
	
	&:hover {
		border-bottom: 1px solid #FFCBB2;
		color: @orange-text;
	}
}

a.b-link_color_black {
	color: @black;
	&:hover {
		color: @orange-text;
	}
	
}

a.b-link_color_black.b-link_border_yes {
	text-decoration: none;
	border-bottom: 1px solid #b2b2b2;
	
	&:hover {
		border-bottom: 1px solid #FFCBB2;
		color: @orange-text;
	}
}

a.b-link_color_orange {
	color: @orange-text;
	
	&:hover {
		color: @orange-text;
	}
}

a.b-link_color_orange.b-link_border_yes {
	text-decoration: none;
	border-bottom: 1px solid #f7c4aa;
	
	&:hover {
		border-bottom: 1px solid #FFCBB2;
		color: @orange-text;
	}
}


.simple-link {
	color: @link-color;
	text-decoration: none;
	border-bottom: 1px solid #B2D6E0;
		
	&:hover {
		color: @orange-text;
		border-bottom: 1px solid #FFCBB2;
	}
}

*/


/**/

a.b-username {
	position:relative;
	margin-left: 15px;
	
	.b-link_color_blue;
	.b-link_border_yes;
	
	
}

.username_sex_icon {
	content:'';
	display: block;
	width: 10px;
	height: 10px;
	left: -12px;
	top: 50%;
	margin-top: -4px;
	position:absolute;
}

.b-username_sex_male:before {
	background: url(../img/user-m_off.gif) 0 0 no-repeat;
	.username_sex_icon;
}

.b-username_sex_female:before {
	background: url(../img/user-f_off.gif) 0 0 no-repeat;
	.username_sex_icon;
}

.b-username_sex_male.b-username_status_online:before {
	background: url(../img/user-m.gif) 0 0 no-repeat;
}
.b-username_sex_female.b-username_status_online:before {
	background: url(../img/user-f.gif) 0 0 no-repeat;
}

/**/

.b-foto-konkurs {
	font-size: 1rem;
	float: right;
	margin-right: 34px;
	position:relative;
	margin-top: 6px;
	outline: none;
	line-height: 18px;
	
	/*.b-link_color_orange;
	.b-link_border_yes;
	.b-link_visited_no;*/
}

.b-foto-konkurs:after {
	content: '';
	position: absolute;
	right: -29px;
	top: 50%;
	margin-top: -12px;
	display: block;
	width: 24px;
	height: 21px;
	background: url(../img/zmey.png) 0 0 no-repeat;
}
/**/

.b-user-fotos {
	width: 100%;
	font-size: 1rem;
	margin-top: 10px;
	td {
		border-right: 1px solid @white;
	
		img {
			display: block;
			width: 100%;
			margin-bottom: 3px;
		}
	}


}



a.b-ad-btn {
	display: inline-block;
	
	border: 1px solid @green-bg;
	outline: none;
	vertical-align: text-bottom;
	margin-left: 4px;
	overflow: hidden;
	 width: 18px;
	 height: 18px;	
	 text-decoration: none;
	 
	 margin-right: -100%;
	
	b {
		background: @green-bg;
		display: inline-block;
		font-size: 18px;
		color: @white;
		height: 18px;
		line-height: 18px;		
		 vertical-align: top;
		 width: 18px;
		 height: 18px;	
		 text-align: center;
		 font-family: @important-font;
		 font-weight: bold;
	}
	
	ins {
		color: @green-text;
		font-size: 11px;
		padding: 0 8px;
		display: inline-block;
		background: @white;
		height: 18px;
		line-height: 18px;
		text-decoration: none;
		 vertical-align: top;
		 position:relative;
		 
	}
}

















/**/

.css-inline-block {
	display: inline-block;
}













/**/

.b-user-last-comment {
	position:relative;
	width:auto;
	left:0;	
	top:0em;
	float:left;
}

.b-user-last-comment__frame{
	position:relative;
	padding: 0px 0 23px;
	overflow: hidden;
}

.b-user-last-comment__frame ul {
	background-color: @white;
}

.b-user-last-comment__content {
	
	padding: 0px 0px 0px 0px;
	position:relative;
	overflow:hidden;
	z-index:10;
}

.b-user-last-comment__frame .blc-cn{
	position:absolute;
	width:12px;
	height:23px;
	left:-12px;
	top:-23px;
}

.b-user-last-comment__frame .blc-cn.blc-tr, 
.b-user-last-comment__frame .blc-cn.blc-br {
	margin-left:100%;
}

.b-user-last-comment__frame .blc-cn.blc-bl, 
.b-user-last-comment__frame .blc-cn.blc-br {
	top:auto;
}

.b-user-last-comment__frame .blc-cn{
	background:url(../img/r-star2.png);
}

.b-user-last-comment__frame .blc-cn.blc-tl, 
.b-user-last-comment__frame .blc-cn.blc-bl {
	width:100%;
} 

.b-user-last-comment__left-line {
	background:url(../img/r-star2-l.png);
	position:absolute;
	left:0px;
	top:0px;
	width:12px;
	height:800px;
}

.b-user-last-comment__right-line {
	background:url(../img/r-star2-r.png);
	position:absolute;
	right:0px;
	top:0px;
	width:12px;
	height:800px;
}







