/*@import "less/global/_reset.less";*/
@import "AnyGrid.css";


.b-text_color_grey {
  color: #808080;
}
.b-text_color_green {
  color: #6a8e16;
}
.b-text_color_green a {
  color: #000000;
  border-bottom: 1px solid #b2b2b2;
  text-decoration: none;
}
a {
  color: #007899;
}
a:visited {
  color: #007899;
}
a:hover {
  color: #ff5400;
}
a:active {
  color: #ff5400;
}
.b-link_border_yes {
  border-bottom: 1px solid rgba(0, 120, 153, 0.30000000000000004);
  text-decoration: none;
}
.b-link_border_yes:visited {
  border-color: rgba(128, 128, 128, 0.30000000000000004);
}
.b-link_border_yes:hover {
  color: #ff5400;
  border-color: rgba(255, 84, 0, 0.30000000000000004);
}
.b-link.b-link_border-style_dotted {
  border-style: dotted;
}
.b-link.b-link_border-style_dotted:hover {
  border-style: dotted;
}
/*�����*/
.b-link_color_blue {
  color: #007899;
}
.b-link_color_blue.b-link_border_yes {
  border-bottom: 1px solid rgba(0, 120, 153, 0.30000000000000004);
  text-decoration: none;
  /*����� � ����� �� ���� � ������*/

}
.b-link_color_blue.b-link_border_yes:visited {
  border-bottom: 1px solid #808080;
}
.b-link_color_blue.b-link_border_yes:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
.b-link_color_blue.b-link_border_yes.b-link_visited_yes {
  /*����� � ����� �� ���� � ������ � ������������*/

}
.b-link_color_blue.b-link_border_yes.b-link_visited_yes:visited {
  color: #808080;
  border-bottom: 1px solid #808080;
}
.b-link_color_blue.b-link_border_yes.b-link_visited_yes:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
.b-link_color_blue.b-link_border_yes.b-link_visited_no {
  /*����� � ����� �� ���� � ������ � ������������*/

}
.b-link_color_blue.b-link_border_yes.b-link_visited_no:visited {
  color: #007899;
  border-bottom: 1px solid rgba(0, 120, 153, 0.30000000000000004);
}
.b-link_color_blue.b-link_border_yes.b-link_visited_no:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
/*�������*/
.b-link_color_green {
  color: #6a8e16;
}
.b-link_color_green.b-link_border_yes {
  border-bottom: 1px solid rgba(106, 142, 22, 0.30000000000000004);
  text-decoration: none;
  /*����� � ����� �� ���� � ������*/

}
.b-link_color_green.b-link_border_yes:visited {
  border-bottom: 1px solid #808080;
}
.b-link_color_green.b-link_border_yes:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
.b-link_color_green.b-link_border_yes.b-link_visited_yes {
  /*����� � ����� �� ���� � ������ � ������������*/

}
.b-link_color_green.b-link_border_yes.b-link_visited_yes:visited {
  color: #808080;
  border-bottom: 1px solid #808080;
}
.b-link_color_green.b-link_border_yes.b-link_visited_yes:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
.b-link_color_green.b-link_border_yes.b-link_visited_no {
  /*����� � ����� �� ���� � ������ � ������������*/

}
.b-link_color_green.b-link_border_yes.b-link_visited_no:visited {
  color: #6a8e16;
  border-bottom: 1px solid rgba(106, 142, 22, 0.30000000000000004);
}
.b-link_color_green.b-link_border_yes.b-link_visited_no:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
/*���������*/
.b-link_color_orange {
  color: #ff5400;
}
.b-link_color_orange.b-link_border_yes {
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
  /*����� � ����� �� ���� � ������*/

}
.b-link_color_orange.b-link_border_yes:visited {
  border-bottom: 1px solid #808080;
}
.b-link_color_orange.b-link_border_yes:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
.b-link_color_orange.b-link_border_yes.b-link_visited_yes {
  /*����� � ����� �� ���� � ������ � ������������*/

}
.b-link_color_orange.b-link_border_yes.b-link_visited_yes:visited {
  color: #808080;
  border-bottom: 1px solid #808080;
}
.b-link_color_orange.b-link_border_yes.b-link_visited_yes:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
.b-link_color_orange.b-link_border_yes.b-link_visited_no {
  /*����� � ����� �� ���� � ������ � ������������*/

}
.b-link_color_orange.b-link_border_yes.b-link_visited_no:visited {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
}
.b-link_color_orange.b-link_border_yes.b-link_visited_no:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
/*������*/
.b-link_color_black {
  color: #000000;
}
.b-link_color_black.b-link_border_yes {
  border-bottom: 1px solid rgba(0, 0, 0, 0.30000000000000004);
  text-decoration: none;
  /*����� � ����� �� ���� � ������*/

}
.b-link_color_black.b-link_border_yes:visited {
  border-bottom: 1px solid #808080;
}
.b-link_color_black.b-link_border_yes:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
.b-link_color_black.b-link_border_yes.b-link_visited_yes {
  /*����� � ����� �� ���� � ������ � ������������*/

}
.b-link_color_black.b-link_border_yes.b-link_visited_yes:visited {
  color: #808080;
  border-bottom: 1px solid #808080;
}
.b-link_color_black.b-link_border_yes.b-link_visited_yes:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
.b-link_color_black.b-link_border_yes.b-link_visited_no {
  /*����� � ����� �� ���� � ������ � ������������*/

}
.b-link_color_black.b-link_border_yes.b-link_visited_no:visited {
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.30000000000000004);
}
.b-link_color_black.b-link_border_yes.b-link_visited_no:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
/*�����*/
.b-link_color_grey {
  color: #808080;
}
.b-link_color_grey.b-link_border_yes {
  border-bottom: 1px solid rgba(128, 128, 128, 0.30000000000000004);
  text-decoration: none;
  /*����� � ����� �� ���� � ������*/

}
.b-link_color_grey.b-link_border_yes:visited {
  border-bottom: 1px solid #808080;
}
.b-link_color_grey.b-link_border_yes:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
.b-link_color_grey.b-link_border_yes.b-link_visited_yes {
  /*����� � ����� �� ���� � ������ � ������������*/

}
.b-link_color_grey.b-link_border_yes.b-link_visited_yes:visited {
  color: #808080;
  border-bottom: 1px solid #808080;
}
.b-link_color_grey.b-link_border_yes.b-link_visited_yes:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
.b-link_color_grey.b-link_border_yes.b-link_visited_no {
  /*����� � ����� �� ���� � ������ � ������������*/

}
.b-link_color_grey.b-link_border_yes.b-link_visited_no:visited {
  color: #808080;
  border-bottom: 1px solid #808080;
}
.b-link_color_grey.b-link_border_yes.b-link_visited_no:hover {
  color: #ff5400;
  border-bottom: 1px solid rgba(255, 84, 0, 0.30000000000000004);
  text-decoration: none;
}
.b-link_visited_yes:visited {
  color: #808080;
}
.b-link_visited_no:visited {
  color: #007899;
}
.b-link_visited_no:hover {
  color: #ff5400;
}
.b-pushtop-16 {
  margin-top: -16px;
}
.push-left {
  float: left;
}
.push-right {
  float: right;
}
.align_center {
  text-align: center;
}
.float_none {
  float: none;
}
/* new clearfix */
.context:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/*@import "less/global/_typography.less";*/
html {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
body {
  min-width: 950px;
}
.l-body {
  margin-bottom: -140px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
}
.l-push {
  height: 140px;
}
.l-footer {
  background: #6a920f;
  height: 140px;
  overflow: hidden;
  font-family: Arial, Helvetica, Sans-Serif;
}
.l-footer_v5 {
  margin-top: -140px;
}
#v5-body-wrap {
  padding-bottom: 150px !important;
}
/*��� ���������� ������� �����*/
#frame {
  overflow: hidden;
}
#frame .l-footer {
  background: #6a920f;
  height: 140px;
  position: absolute;
  bottom: 0px;
  top: auto;
  width: 100%;
}
.l-header-wrap {
  background: #6a920f;
  height: 45px;
  position: relative;
}
.l-body-wrap {
  padding-top: 16px;
}
.l-body-wrap .l-width {
  padding-bottom: 27px;
}
.l-width {
  max-width: 1324px;
  min-width: 950px;
  margin: 0 auto;
  /*width: 1284px;*/

}
.l-width-old {
  max-width: 1280px;
  padding: 0 1%;
  position: relative;
}
.l-width-vertical-separator {
  background: #cccccc;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
  right: -2%;
}
.l-width-col-2-pad {
  position: relative;
  padding-right: 2%;
  overflow: hidden;
}
.l-width-col-3-pad {
  padding-left: 1%;
}
.l-body-wrap  .l-width-col-3-pad {
  margin-top: -16px;
}
.b-header-logo {
  display: block;
  float: left;
  height: 45px;
  background: #5f7e13;
  padding: 0 5px;
  text-align: center;
}
.b-header-menu__item_hidemenu_yes {
  position: relative;
}
.b-header-menu__item_hidemenu_yes .b-header-menu__item__link:after {
  display: none !important;
  content: none;
}
.b-header-menu__item_hidemenu_yes.cur .b-header-menu__item__link {
  background-position: right -4px;
}
.b-header-menu__hidemenu {
  background: #f2ffd3;
  padding-top: 6px;
  padding-bottom: 5px;
  min-width: 100px;
  position: absolute;
  z-index: 1000;
  display: none;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.cur .b-header-menu__hidemenu {
  display: block;
  padding: 0px;
  margin: 0px;
}
.b-header-menu__hidemenu__item {
  float: none;
  list-style: none;
}
a.b-header-menu__hidemenu__item__link {
  color: #3f530c;
  height: auto;
  line-height: 1.2rem;
  padding: 9px 10px 9px;
  text-decoration: none;
  display: block;
}
a.b-header-menu__hidemenu__item__link:visited {
  color: #3f530c;
}
a.b-header-menu__hidemenu__item__link:hover {
  background: #e1f2ba;
  color: #3f530c;
}
.b-header-menu__item {
  float: left;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a.b-header-menu__item__link {
  display: block;
  padding: 0px 10px 0px 10px;
  height: 45px;
  line-height: 47px;
  position: relative;
  color: #fff;
  text-decoration: none;
  outline: none;
  color: #fff;
}
a.b-header-menu__item__link:hover {
  color: #fff;
}
a.b-header-menu__item__link:visited {
  color: #fff;
}
a.b-header-menu__item__link:after {
  content: '';
  display: inline-block;
  height: 25px;
  width: 1px;
  position: absolute;
  right: -1px;
  top: 11px;
  background-color: #9db959;
}
/*если это текущий айтем*/
.cur a.b-header-menu__item__link {
  background-color: #e1f2ba;
  color: #3f530c;
}
/*если у айтема есть скрытое меню*/
.b-header-menu__item_hidemenu_yes .b-header-menu__item__link {
  background-image: url(./less/blocks/b-header-menu/img/b-header-arr-dwn.png);
  background-repeat: no-repeat;
  background-position: right 24px;
  padding-right: 18px;
  text-decoration: none;
  border: none;
}
.b-header-menu__item__sub {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #f2ffd3;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute;
  top: 45px;
  display: none;
  z-index: 1000;
  left: 0;
  width: 100%;
  background: #f2ffd3;
}
.b-header-menu__item__sub__wrap {
  padding-top: 19px;
  padding-bottom: 17px;
}
.b-header-menu__item__sub__wrap__col {
  border-left: 1px solid #e1efbf;
}
.b-header-menu__item__sub__wrap__col__list {
  font-size: 13px;
  margin-bottom: -6px;
  margin-top: -6px;
  padding-left: 18px;
}
.b-header-menu__item__sub__wrap__col__list__item {
  margin-top: 7px;
  margin-bottom: 12px;
  padding: 0px;
  list-style: none;
}
a.b-header-menu__item__sub__wrap__col__list__item__link {
  color: #4d660f;
  text-decoration: none;
  border-bottom: 1px solid #bccd92;
}
a.b-header-menu__item__sub__wrap__col__list__item__link:visited {
  color: #4d660f;
}
a.b-header-menu__item__sub__wrap__col__list__item__link:hover {
  color: #FF5400;
  border-bottom: 1px solid #FFCBB2;
}
.b-submenu-item__bank-zajavka {
  padding-left: 12px;
}
a.b-submenu-item__bank-zajavka__btn {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  background: #ff8f00;
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 5px;
}
.b-submenu-item__bank-zajavka__text {
  color: #3f530c;
  font-size: 11px;
  line-height: 13px;
  font-style: italic;
  text-align: center;
}
.b-submenu-item__day-theme {
  padding-left: 12px;
}
.b-submenu-item__day-theme__label {
  font-size: 11px;
  margin-bottom: 5px;
}
a.b-submenu-item__day-theme__link {
  font-size: 18px;
  line-height: 21px;
  color: #3f530c;
  text-decoration: none;
  border-bottom: 1px solid #c1d09f;
}
a.b-submenu-item__day-theme__link:visited {
  color: #3f530c;
}
a.b-submenu-item__day-theme__link:hover {
  border-bottom: 1px solid #FFCBB2;
  color: #FF5400;
}
/**/
.js-header-menu {
  /*float: left*/

}
.b-header-menu {
  margin: 0px;
  padding: 0px;
  margin-right: -100%;
}
/***/
#v5-frame .b-drop-menu__list li {
  margin-top: 5px;
  margin-bottom: 7px;
}
/***/
.b-header-search__subm {
  border: none;
  background: url(./less/blocks/b-header-search/img/b-header-search-btn.png) center center no-repeat;
  width: 27px;
  height: 27px;
  display: block;
  position: absolute;
  right: 2px;
  top: -1px;
  cursor: pointer;
  cursor: hand;
}
.b-header-search__subm_state_active {
  background: url(./less/blocks/b-header-search/img/b-header-search-btn-.png) center center no-repeat;
}
input.b-header-search__text {
  border: none;
  background: none;
  color: #fff;
  font-size: 12px;
  height: 24px;
  padding-top: 1px;
  outline: none;
  font-family: Arial, Tahoma, Verdana;
}
.b-header-search_layout_oldsite {
  margin-left: -157px;
}
.b-header-search {
  float: left;
  position: relative;
  top: 10px;
  width: 60%;
  margin: 0px;
  padding: 0 0 0 6px;
  background-color: #afc971;
  box-shadow: 0 2px 4px 0px #8CA15A inset;
  border-radius: 5px;
  border-bottom: 1px solid #a8c468;
  border-left: 1px solid #8ca15a;
  border-right: 1px solid #8ca15a;
  border-top: 1px solid #809352;
}
.b-header-auth__tab {
  white-space: nowrap;
  height: 45px;
  vertical-align: middle;
  padding: 0 10px;
  width: 1%;
}
.b-header-auth__tab__link {
  position: relative;
  top: -1px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  margin: 0 2px;
}
.b-header-auth__tab__link:visited {
  color: #fff;
}
.b-header-auth__tab__logined-user {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 88%;
  white-space: nowrap;
  color: #fff;
  position: relative;
  top: 1px;
}
a.b-header-auth__tab__logined-user__link {
  position: relative;
  padding-left: 25px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}
a.b-header-auth__tab__logined-user__link:hover {
  color: #fff;
}
a.b-header-auth__tab__logined-user__link:visited {
  color: #fff;
}
.b-header-auth__tab__logined-user__link__pic {
  display: block;
  position: absolute;
  max-width: 20px;
  max-height: 20px;
  left: 0px;
  top: -3px;
  box-shadow: 0 0 3px #8fa856;
}
a.b-header-auth__tab__mail-link {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background: url(./less/blocks/b-header-auth/img/b-header-mail.png) right -44px no-repeat;
  padding-right: 23px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
a.b-header-auth__tab__mail-link:hover {
  color: #fff;
}
a.b-header-auth__tab__mail-link:visited {
  color: #fff;
}
.b-header-auth__tab__mail-link__count {
  position: absolute;
  display: none;
  right: -3px;
  top: -7px;
  z-index: 100;
  font-size: 10px;
  background: #ff5400;
  padding: 2px 2px 1px 1px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0px #566d1f;
}
.b-header-auth__tab__mail-link__label {
  text-decoration: none;
}
@media @desktop-mini {
  display: none;
}
a.b-header-auth__tab__mail-link_has_new {
  background-position: right 1px;
}
.b-header-auth__tab__mail-link_has_new .b-header-auth__tab__mail-link__count {
  display: block;
}
.b-header-auth__tab_active_yes {
  background: #a0bc60;
}
.b-header-auth {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}
.page-fixed-right .b-header-auth {
  width: 240px;
  float: right;
}
#v5-frame .b-header-auth {
  width: 240px;
  float: right;
}
.b-icon {
  position: relative;
}
.b-icon_pic_login {
  position: relative;
  width: 10px;
  height: 11px;
  background: url(./less/blocks/b-icon/img/b-header-login.png) 0 0 no-repeat;
  display: inline-block;
  margin-right: 5px;
  top: 1px;
}
.b-icon_pic_header-vk {
  background: url(./less/blocks/b-icon/img/b-header-vk-ico.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.b-icon_pic_header-fb {
  background: url(./less/blocks/b-icon/img/b-header-fb-ico.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.b-icon_pic_header-tw {
  background: url(./less/blocks/b-icon/img/b-header-tw-ico.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.b-footer-logo__pic {
  position: relative;
  top: 14px;
}
.b-footer-logo {
  display: inline-block;
  background: #5f7e13;
  height: 140px;
  float: left;
  width: 100px;
  text-align: center;
}
.b-footer-menu {
  overflow: hidden;
  margin: 0px;
  padding: 15px 0 7px 15px;
}
.b-footer-menu li {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin-right: 2px;
  margin-bottom: 2px;
}
.b-footer-menu li a {
  color: #e1f2ba;
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  outline: none;
}
.b-footer-menu li a:hover {
  color: #6a8e16;
  background: #d6eaaa;
}
.b-footer-menu li.cur a {
  color: #6a8e16;
  background: #d6eaaa;
}
.b-footer-links {
  float: left;
  margin: 0 20px 0 20px;
  font-size: 12px;
  line-height: 16px;
  padding: 11px 0 0 0;
}
.b-footer-links li {
  margin-bottom: 6px;
  padding: 0 0 0 5px;
  list-style: none;
}
.b-footer-links a {
  color: #ffffff;
  text-decoration: none;
}
.b-footer-links a:hover {
  border-bottom: 1px solid #ffffff;
}
.b-footer-seo {
  border-bottom: 1px solid #9cb958;
}
/*@import "header.less";



@import "less/blocks/b-teaser-orange-text/css/b-teaser-orange-text.less";
@import "less/blocks/b-news-item/css/b-news-item.less";
@import "less/blocks/b-btn/css/b-btn.css";


@import "mainpage.less";


*/