.b-list-step {
	position:relative;
	left: -8px;
	margin-bottom: 20px;
}
.b-list-step__item {
	margin: 0px;
	padding: 0px;
	font: 14px/18px Arial, Helvetica, Sans;
	margin-bottom: 3px;
}

.b-list-step__item_state_cur {
	font-weight: bold;
}

.b-list-step__count {
	background: url(./less/blocks/b-list-step/img/b-list-step.png) 0 -32px no-repeat;
	width: 32px;
	height: 28px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 26px;
	position:relative;
	font-weight: bold;
	color: #537404;
	margin-right: 10px;
	top: -1px;
	text-indent: 3px;
}

.b-list-step__item_state_cur .b-list-step__count {
	background-position: 0 0;
	color: #fff;
}
