.d-photo-elem {
	margin-right: 10px;
	padding: 0 !important;
}

.d-photo-elem__img-wrap {
	position: relative;

	overflow: hidden;

	width: 150px;
	height: 150px;
	margin-bottom: 5px;

	border-radius: 4px;
	background: #e6e6e6;
}

.d-photo-elem__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	margin: auto;
}

.d-photo-elem__controls:before,
.d-photo-elem__controls:after {
	display: block;
	clear: both;

	content: '';
}

.d-photo-elem__rotate {
	position: relative;

	display: block;
	float: left;

	width: 25px;
	height: 25px;
	margin-right: 5px;

	border-top: 1px solid #e9e9e9;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #c3c3c3;
	border-left: 1px solid #e5e5e5;
	border-radius: 4px;
	background: #ededed;
	background: -o-linear-gradient(top, #f8f8f8, #e2e2e2);
	background: -webkit-linear-gradient(top, #f8f8f8, #e2e2e2);
	background: linear-gradient(to bottom, #f8f8f8,#e2e2e2);
}

.d-photo-elem__rotate:hover {
	background: #fdfdfd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#e2e2e2));
	background: -webkit-linear-gradient(top, #fdfdfd 0%,#e2e2e2 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%,#e2e2e2 100%);
	background: -webkit-linear-gradient(top, #fdfdfd 0%, #e2e2e2 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%, #e2e2e2 100%);
	background: linear-gradient(to bottom, #fdfdfd 0%,#e2e2e2 100%);
}

.d-photo-elem__rotate:active {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #d9d9d9;
	background: #e5e5e5;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#e8e8e8));
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#e8e8e8 100%);
	background: -o-linear-gradient(top, #e5e5e5 0%,#e8e8e8 100%);
	background: -webkit-linear-gradient(top, #e5e5e5 0%, #e8e8e8 100%);
	background: -o-linear-gradient(top, #e5e5e5 0%, #e8e8e8 100%);
	background: linear-gradient(to bottom, #e5e5e5 0%,#e8e8e8 100%);
	color: #595959;
}

.d-photo-elem__rotate:after {
	position: relative;
	top: 0;
	left: 0;

	display: block;

	width: 25px;
	height: 25px;

	content: '';

	background: none center center no-repeat transparent;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAYAAADJ7fe0AAAA/0lEQVQoz2NgQANpaWms6enprpmZmQVAXApkB0VHR/MxEAuAmlwyMjIeAun/aPgz0LAMggYANddi0YyCgWo2ApUyYTUA6AUboKK/SIqfAfF8oO1TgPRVNIMKcbniBpLCLchhEBoaygwU60CS/5aUlCSFboAhkoL3ycnJQljsYQTKnYCpwwgfoEA4klO34gozoLo6JHV9RBsSFxcnDBR7jCegf6amppoyAAkDfN4BitkCFf/BYUghUQELNagGiyGbiIpiJMOYgPw9SAY8whoBoMQGxP/QnCsNk09ISJAA8l+AvAaylOhkj2wINBJcgWIVBJM/MHGxwTIgMFHxEpPnAOgnA9VJX4xDAAAAAElFTkSuQmCC');
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNyAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+PHRpdGxlPlNsaWNlIDE8L3RpdGxlPjxwYXRoIGQ9Ik0xMy42MDggN2gyLjk0NmwtNC40NDYgNi00LjQ0Ni02aDIuOTQ2YzAtMS45MzMtMS41NjctMy41LTMuNS0zLjVzLTMuNSAxLjU2Ny0zLjUgMy41IDEuNTY3IDMuNSAzLjUgMy41djNjLTMuNTkgMC02LjUtMi45MS02LjUtNi41czIuOTEtNi41IDYuNS02LjUgNi41IDIuOTEgNi41IDYuNXoiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIGZpbGw9IiM2OTY5NjkiLz48L3N2Zz4='), none;
}

.d-photo-elem__rotate_direction_counterclockwise:after {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAYAAADJ7fe0AAAAw0lEQVR42pVTMQ6DMBBja/sNpn4lEut1rDJBMucxLVPfxAf4AEuH7u1ZCpJ1qFd6kkVk50zOhMYrETmllDpFqejANXsr5yzatOjzzaic/DTQjXc0eMAez+BiGmbFWDEbTb5lsNDbHiGEw6rHGI/geLRNRgiOT8AGbMQnQo81KWQyOqGPZFJAtLp4OgFCa12TSgo3euFhRDsOu9+sAThr4AZbA5vIYAK36rs/cd/3ZxVeANas/XXZhmG4ApZ3rv3+8n7AD2nWApmGYkMuAAAAAElFTkSuQmCC');
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNyAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+PHRpdGxlPlNsaWNlIDE8L3RpdGxlPjxwYXRoIGQ9Ik0zLjUgN2gtMi45NDZsNC40NDYgNiA0LjQ0Ni02aC0yLjk0NmMwLTEuOTMzIDEuNTY3LTMuNSAzLjUtMy41czMuNSAxLjU2NyAzLjUgMy41LTEuNTY3IDMuNS0zLjUgMy41djNjMy41OSAwIDYuNS0yLjkxIDYuNS02LjVzLTIuOTEtNi41LTYuNS02LjUtNi41IDIuOTEtNi41IDYuNXoiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIGZpbGw9IiM2OTY5NjkiLz48L3N2Zz4='), none;
}

.d-photo-elem__controls .button {
	font-size: 12px;
	line-height: 25px;

	height: 25px;
}
