.b-header-search__subm {
	position:absolute;
	top: -1px;
	right: 2px;
	display: block;
	width: 27px;
	height: 27px;
	border: none;
	background: url(../css/less/blocks/b-header-search/img/b-header-search-btn.png) center center no-repeat;
	cursor: pointer;
	cursor: hand;
}
