.b-header-search_state_active.b-header-search  {
	background-color: #FFF;
}

.b-header-search_state_active input.b-header-search__text {
	color:#000;
}

.b-header-search_state_active .b-header-search__subm {
	background: url(../css/less/blocks/b-header-search/img/b-header-search-btn-.png) center center no-repeat;
}
