@import "b-header-search__subm.less";
@import "b-header-search_state_active.less";
@import "b-header-search__text.less";
@import "b-header-search_layout_oldsite.less";

.b-header-search {
	float: left;
	
	position:relative;
	top: 11px;
	
	width: 60%;
	
	margin: 0px;
	padding: 0 0 0 6px;

	background-color: #afc971;
	
	box-shadow: 0 2px 4px 0px #8CA15A inset;
	border-radius: 5px;
	
	border-bottom: 1px solid #a8c468;
	border-left: 1px solid #8ca15a;
	border-right: 1px solid #8ca15a;
	border-top: 1px solid #809352;	
	
}
