.b-header-search__subm {
	border: none;
	background: url(./less/blocks/b-header-search/img/b-header-search-btn.png) center center no-repeat;
	width: 27px;
	height: 27px;
	display: block;
	position:absolute;
	right: 2px;
	top: -1px;
	cursor: pointer;
	cursor: hand;
}