.card-props {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	padding: 20px;
	padding-right: 0;
	padding-bottom: 0;

	list-style: none;

	white-space: normal;

	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.card-props__elem {
	box-sizing: border-box;
	width: 50%;
	margin-bottom: 20px;
	padding-right: 20px;

	list-style: none;

	text-align: left;
	white-space: normal;
}

@media (min-width: 1100px) {
	.card-props__elem {
		width: 33%;
	}
}

@media (min-width: 1280px) {
	.card-props__elem {
		width: 25%;
	}
}

.card-props__label {
	font-size: 14px;

	margin-bottom: 5px;

	color: #666;
}

.card-props__desc {
	font-size: 18px;
}

.card-props + .b-doska-ncard__text {
	padding-top: 0;
}
