@padding-top-row: 8px;
@padding-bottom-row: 7px;

.b-bank-item-creditDetails__row {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border-top: 2px solid #eaf0dd;
}

.b-bank-item-creditDetails__col1 {
	display: table-cell;
	padding-top: @padding-top-row;
	width: 215px;
	padding-right: 25px;
	box-sizing: border-box;
}
.b-bank-item-creditDetails__col2 {
	display: table-cell;
	padding-top: @padding-top-row;
	padding-bottom: @padding-bottom-row;
	padding-right: 25px;
}

.b-bank-item-creditDetails__row_total {
	background-color: #e1f2ba;
}

.b-bank-item-creditDetails__row_total .b-bank-item-creditDetails__col2 {
	padding-bottom: @padding-bottom-row + 5;
	padding-top: @padding-top-row;
}

.b-bank-item-creditDetails__label {
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	text-align: right;
}

.b-bank-item-creditDetails-summary {
	font-size: 12px;
	line-height: 14px;
	color: #456500;
	display: inline-block;
	padding: 0px 15px;
	position:relative;
	top: @padding-top-row - 1;
}

.b-bank-item-creditDetails__text {
	font-size: 14px;
	line-height: 21px;
}
