a.b-header-menu__hidemenu__item__link {
	color: #3f530c;
	height: auto;
	line-height: 1.2rem;
	padding: 9px 10px 9px;
	text-decoration: none;
	display: block;
	
	&:visited {
		color: #3f530c;
	}
	
	&:hover {
		background: #e1f2ba;
		color: #3f530c;
	}
}

