.b-valute-best-course {
	padding: 10px 20px 12px;
	background: @green-bg-lighter;
}
.b-valute-best-course__row {
	font-size:  14px;
	line-height:  21px;
}
.b-valute-best-course__label {
	display: inline-block;
	width: 150px;
	color:#666666;
}
.b-valute-best-course__val {
	margin-right:7px;
	color: @green-text;
	font-weight: bold;
}

