.b-valute-best-course {
	background: @green-bg-lighter;
	padding: 10px 20px 12px;
}
.b-valute-best-course__row {
	font-size:  14px;
	line-height:  21px;
}
.b-valute-best-course__label {
	color:#666666;
	display: inline-block;
	width: 150px;
}
.b-valute-best-course__val {
	color: @green-text;
	margin-right:7px;
}

