.g-48 {
  padding-right: 89.53%;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *padding-right: 0;
  *margin-right: 89.53%;
}
.g-48,
.g-row {
  *zoom: 1;
}
.g-48:before,
.g-48:after,
.g-row:before,
.g-row:after {
  clear: both;
  content: '';
  display: block;
}
.g-first {
  clear: left;
}
.g-span-1,
.g-span-2,
.g-span-3,
.g-span-4,
.g-span-5,
.g-span-6,
.g-span-7,
.g-span-8,
.g-span-9,
.g-span-10,
.g-span-11,
.g-span-12,
.g-span-13,
.g-span-14,
.g-span-15,
.g-span-16,
.g-span-17,
.g-span-18,
.g-span-19,
.g-span-20,
.g-span-21,
.g-span-22,
.g-span-23,
.g-span-24,
.g-span-25,
.g-span-26,
.g-span-27,
.g-span-28,
.g-span-29,
.g-span-30,
.g-span-31,
.g-span-32,
.g-span-33,
.g-span-34,
.g-span-35,
.g-span-36,
.g-span-37,
.g-span-38,
.g-span-39,
.g-span-40,
.g-span-41,
.g-span-42,
.g-span-43,
.g-span-44,
.g-span-45,
.g-span-46,
.g-span-47,
.g-span-48 {
  float: left;
  position: relative;
  *display: inline;
}
.g-span-1 {
  margin-right: -15%;
  width: 15%;
}
.g-col-1 {
  left: 0%;
}
.g-span-2 {
  margin-right: -35%;
  width: 35%;
}
.g-col-2 {
  left: 20%;
}
.g-span-3 {
  margin-right: -55%;
  width: 55%;
}
.g-col-3 {
  left: 40%;
}
.g-span-4 {
  margin-right: -75%;
  width: 75%;
}
.g-col-4 {
  left: 60%;
}
.g-span-5 {
  margin-right: -95%;
  width: 95%;
}
.g-col-5 {
  left: 80%;
}
.g-span-6 {
  margin-right: -115%;
  width: 115%;
}
.g-col-6 {
  left: 100%;
}
.g-span-7 {
  margin-right: -135%;
  width: 135%;
}
.g-col-7 {
  left: 120%;
}
.g-span-8 {
  margin-right: -155%;
  width: 155%;
}
.g-col-8 {
  left: 140%;
}
.g-span-9 {
  margin-right: -175%;
  width: 175%;
}
.g-col-9 {
  left: 160%;
}
.g-span-10 {
  margin-right: -195%;
  width: 195%;
}
.g-col-10 {
  left: 180%;
}
.g-span-11 {
  margin-right: -215%;
  width: 215%;
}
.g-col-11 {
  left: 200%;
}
.g-span-12 {
  margin-right: -235%;
  width: 235%;
}
.g-col-12 {
  left: 220%;
}
.g-span-13 {
  margin-right: -255%;
  width: 255%;
}
.g-col-13 {
  left: 240%;
}
.g-span-14 {
  margin-right: -275%;
  width: 275%;
}
.g-col-14 {
  left: 260%;
}
.g-span-15 {
  margin-right: -295%;
  width: 295%;
}
.g-col-15 {
  left: 280%;
}
.g-span-16 {
  margin-right: -315%;
  width: 315%;
}
.g-col-16 {
  left: 300%;
}
.g-span-17 {
  margin-right: -335%;
  width: 335%;
}
.g-col-17 {
  left: 320%;
}
.g-span-18 {
  margin-right: -355%;
  width: 355%;
}
.g-col-18 {
  left: 340%;
}
.g-span-19 {
  margin-right: -375%;
  width: 375%;
}
.g-col-19 {
  left: 360%;
}
.g-span-20 {
  margin-right: -395%;
  width: 395%;
}
.g-col-20 {
  left: 380%;
}
.g-span-21 {
  margin-right: -415%;
  width: 415%;
}
.g-col-21 {
  left: 400%;
}
.g-span-22 {
  margin-right: -435%;
  width: 435%;
}
.g-col-22 {
  left: 420%;
}
.g-span-23 {
  margin-right: -455%;
  width: 455%;
}
.g-col-23 {
  left: 440%;
}
.g-span-24 {
  margin-right: -475%;
  width: 475%;
}
.g-col-24 {
  left: 460%;
}
.g-span-25 {
  margin-right: -495%;
  width: 495%;
}
.g-col-25 {
  left: 480%;
}
.g-span-26 {
  margin-right: -515%;
  width: 515%;
}
.g-col-26 {
  left: 500%;
}
.g-span-27 {
  margin-right: -535%;
  width: 535%;
}
.g-col-27 {
  left: 520%;
}
.g-span-28 {
  margin-right: -555%;
  width: 555%;
}
.g-col-28 {
  left: 540%;
}
.g-span-29 {
  margin-right: -575%;
  width: 575%;
}
.g-col-29 {
  left: 560%;
}
.g-span-30 {
  margin-right: -595%;
  width: 595%;
}
.g-col-30 {
  left: 580%;
}
.g-span-31 {
  margin-right: -615%;
  width: 615%;
}
.g-col-31 {
  left: 600%;
}
.g-span-32 {
  margin-right: -635%;
  width: 635%;
}
.g-col-32 {
  left: 620%;
}
.g-span-33 {
  margin-right: -655%;
  width: 655%;
}
.g-col-33 {
  left: 640%;
}
.g-span-34 {
  margin-right: -675%;
  width: 675%;
}
.g-col-34 {
  left: 660%;
}
.g-span-35 {
  margin-right: -695%;
  width: 695%;
}
.g-col-35 {
  left: 680%;
}
.g-span-36 {
  margin-right: -715%;
  width: 715%;
}
.g-col-36 {
  left: 700%;
}
.g-span-37 {
  margin-right: -735%;
  width: 735%;
}
.g-col-37 {
  left: 720%;
}
.g-span-38 {
  margin-right: -755%;
  width: 755%;
}
.g-col-38 {
  left: 740%;
}
.g-span-39 {
  margin-right: -775%;
  width: 775%;
}
.g-col-39 {
  left: 760%;
}
.g-span-40 {
  margin-right: -795%;
  width: 795%;
}
.g-col-40 {
  left: 780%;
}
.g-span-41 {
  margin-right: -815%;
  width: 815%;
}
.g-col-41 {
  left: 800%;
}
.g-span-42 {
  margin-right: -835%;
  width: 835%;
}
.g-col-42 {
  left: 820%;
}
.g-span-43 {
  margin-right: -855%;
  width: 855%;
}
.g-col-43 {
  left: 840%;
}
.g-span-44 {
  margin-right: -875%;
  width: 875%;
}
.g-col-44 {
  left: 860%;
}
.g-span-45 {
  margin-right: -895%;
  width: 895%;
}
.g-col-45 {
  left: 880%;
}
.g-span-46 {
  margin-right: -915%;
  width: 915%;
}
.g-col-46 {
  left: 900%;
}
.g-span-47 {
  margin-right: -935%;
  width: 935%;
}
.g-col-47 {
  left: 920%;
}
.g-span-48 {
  margin-right: -955%;
  width: 955%;
}
.g-col-48 {
  left: 940%;
}
/**/
.g-col-1.g-main-col-1 {
  width: 545%;
  margin-right: -545%;
}
.l-body-wrap .g-col-30.g-main-col-2:before {
  content: '';
  background: #cccccc;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
  left: -4.7%;
}
/*.g-col-29.g-main-col-2 {
    left: 571%;
	width: 374%;
	margin-right: -374%;
}

.g-col-38.g-main-col-2 {
    float: right;
    left: 0;
    margin-right: -850%;
    right: 0;
    width: 240px;
}*/
/**/
.g-restore,
.g-initial {
  position: relative;
}
.g-restore .g-12 {
  padding-right: 0;
  margin-right: -400%;
}
.g-restore .g-initial {
  margin-right: -1075%;
}
.g-span-1 .g-restore {
  margin-right: -33.33%;
}
.g-col-1 .g-restore .g-12,
.g-col-1 .g-restore .g-initial {
  left: 0%;
}
.g-span-2 .g-restore {
  margin-right: 42.86%;
}
.g-col-2 .g-restore .g-12,
.g-col-2 .g-restore .g-initial {
  left: -100%;
}
.g-span-3 .g-restore {
  margin-right: 63.64%;
}
.g-col-3 .g-restore .g-12,
.g-col-3 .g-restore .g-initial {
  left: -200%;
}
.g-span-4 .g-restore {
  margin-right: 73.33%;
}
.g-col-4 .g-restore .g-12,
.g-col-4 .g-restore .g-initial {
  left: -300%;
}
.g-span-5 .g-restore {
  margin-right: 78.95%;
}
.g-col-5 .g-restore .g-12,
.g-col-5 .g-restore .g-initial {
  left: -400%;
}
.g-span-6 .g-restore {
  margin-right: 82.61%;
}
.g-col-6 .g-restore .g-12,
.g-col-6 .g-restore .g-initial {
  left: -500%;
}
.g-span-7 .g-restore {
  margin-right: 85.19%;
}
.g-col-7 .g-restore .g-12,
.g-col-7 .g-restore .g-initial {
  left: -600%;
}
.g-span-8 .g-restore {
  margin-right: 87.1%;
}
.g-col-8 .g-restore .g-12,
.g-col-8 .g-restore .g-initial {
  left: -700%;
}
.g-span-9 .g-restore {
  margin-right: 88.57%;
}
.g-col-9 .g-restore .g-12,
.g-col-9 .g-restore .g-initial {
  left: -800%;
}
.g-span-10 .g-restore {
  margin-right: 89.74%;
}
.g-col-10 .g-restore .g-12,
.g-col-10 .g-restore .g-initial {
  left: -900%;
}
.g-span-11 .g-restore {
  margin-right: 90.7%;
}
.g-col-11 .g-restore .g-12,
.g-col-11 .g-restore .g-initial {
  left: -1000%;
}
.g-span-12 .g-restore {
  margin-right: 91.49%;
}
.g-col-12 .g-restore .g-12,
.g-col-12 .g-restore .g-initial {
  left: -1100%;
}
