@import "less/global/_reset.less";
@import "less/global/_colors.less";
@import "less/global/_helpers.less";
@import "less/global/_mixins.less";
@import "less/global/_typography.less";


@import "mainpage.less";




.body, .footer-wrap, .header-wrap {
	max-width: 1280px;
	min-width: 950px;
	margin: 0 auto;
}


.red {
	border: 1px solid red;
}

