@import "less/blocks/b-teaser-orange-text/css/b-teaser-orange-text.less";
@import "less/blocks/b-news-item/css/b-news-item.less";

@important-font: 'PT Sans Narrow', sans-serif;


html {
	font-size: 13px;
}

/**/

.b-banner {
	margin: 8px 0px 20px -5px;
	
	img {
		width: 100%;
		display: block;
	}
	
	.b-banner_layout_middle-page {
		
	}
}

.b-banner_layout_middle-page-4-col {
	margin-top: 0px;
}

.b-separator {
	height: 1px;
	margin: 5px 0;
}

.b-separator_border_yes {
	background: #cccccc;
}
.b-separator_border-color_orange {
	background: #ff8f00;
}
.b-separator_border-height_2 {
	height: 2px;
}




.b-header {}
.b-header_type_h3 {
	font-size:1.4rem;
	font-family: @important-font;
	font-weight: bold;
	margin-bottom: 12px;
	margin-top: 5px;
}



.footer {
	background: #84a830;
	height: 115px;
}

.b-footer-logo {
	display: block;
	background: #6a8e16;
	height: 115px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.b-footer-logo img {
	position:relative;
	top: 14px;
}


/**/

.b-footer-menu {
	padding-top: 15px;
	padding-left: 15px;
	overflow: hidden;
	padding-bottom: 7px;
	border-bottom: 1px solid #9cb958;
}
.b-footer-menu li {
	float: left;
	font-size: 14px;
	line-height: 18px;
	margin-right: 2px;
	margin-bottom: 2px;
}
.b-footer-menu li a {
	color: #e1f2ba;
	display: block;
	text-decoration: none;
	padding: 5px 10px;
	
	
	&:hover {
		color: #708344;
		background: #d6eaaa;
	}
}

.b-footer-menu li.cur a {
		color: #708344;
		background: #d6eaaa;
}

.b-footer-links {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 12px;
	line-height: 16px;
	padding-top: 11px;
	
	li {
		margin-bottom: 6px;
	}
	
	a {
		color: #fff;
		text-decoration: none;
	}
}

.header {
	background: #84a830;
	margin-bottom: 16px;
}




.b-header-logo {
	
	display: block;
	float: left;
	height: 45px;
	background: #698c15;
	padding: 0 15px;
	
	img {
		position:relative;
		top: 6px;
	}
}

/**/

.b-header-menu {
	
	margin-right: -100%;
}

.b-header-menu li {
	float: left;
	font-size: 1.1rem;
	
	
	
	a {
		display: block;
		padding: 0px 0px 0px 8px;
		height: 45px;
		line-height: 47px;
		color: #fff;
		text-decoration: none;
		outline: none;
		
		ins {
			text-decoration: none;
			border-right: 1px solid #9db959;
			padding-top: 4px;
			padding-bottom: 5px;
			padding-right: 8px;
		}
		
		&:hover {
			background: #e1f2ba;
			color: #3f530c;
			
			ins {
				border-right: 1px solid transparent;
			}
		}		
	}
}

.b-header-menu li.cur {
	
	a {
		background: #e1f2ba;	
		color: #3f530c;
		
		ins {
			border-right: 1px solid transparent;
		}		
	}
}

.b-header-menu li:last-child {
	a {
		ins {
			border-right: 1px solid transparent;
		}			
	}
}


.b-header-menu li.hasSub {
	position:relative;
	
	
	a {
		padding-right: 5px;
		
		&:hover {
			ins {
				background-image: url(../img/b-header-arr-dwn-.png);
			}
		}
	}

	ins {
		background-image: url(../img/b-header-arr-dwn.png);
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 12px
	}
	
	
}

.b-header-menu li.hover {
	a {
		background: #e1f2ba;
		color: #3f530c;
		
		ins {
			background-image: url(../img/b-header-arr-dwn-.png);
		}

	}
	
	.sub a {
		background: none;
		
		&:hover {
			background: #e1f2ba;
			color: #3f530c;			
		}
	}
	

}










.b-header-menu li .sub {
	position:absolute;
	z-index: 10;
	left: 0px;
	top: 45px;
	background: #f2ffd3;
	min-width: 100px;
	padding-top: 6px;
	padding-bottom: 5px;
	box-shadow: 0 5px 10px 2px #DDD7D7;
	display: none;
}

.b-header-menu li.hasSub.hover .sub {
	display: block;
}

.b-header-menu li .sub li {
	float: none;
	
	a {
		color: #3f530c;
		height: auto;
		line-height: 1.2rem;
		padding: 9px 10px 9px;
	}
}




/**/

.b-header-search {
	position:relative;
	background: #afc971;
	float: left;
	border-radius: 3px;
	box-shadow: 2px 2px 3px 1px #809352 inset;
	top: 11px;
	padding-left: 6px;
	width: 70%;
}
input.b-header-search__text {
	border: none;
	background: none;
	color: #fff;
	font-size: 0.95rem;
	height: 24px;
	padding-top: 1px;
}
.b-header-search__subm {
	border: none;
	background: url(../img/b-header-search-btn.png) center center no-repeat;
	width: 27px;
	height: 27px;
	display: block;
	position:absolute;
	right: 2px;
	top: -1px;
	cursor: pointer;
	cursor: hand;
}


/**/

.b-header-authorize {
	position:relative;
	top: 14px;
	width: 100%;
}

a.b-login {
	color: #fff;
	font-size: 1.1rem;
	text-decoration: none;
	background: url(../img/b-header-login.png) 0 center no-repeat;
	padding-left: 15px;
	margin-right: 5px;
}

a.b-header-mail-link {
	color: #fff;
	font-size: 1.1rem;
	text-decoration: none;
	background: url(../img/b-header-mail.png) right center no-repeat;
	padding-right: 28px;	
	float: right;
	margin-right: 5px;
	position:relative;
	top: 2px;
}

.b-header-social-ico {
	position:relative;
	top: 3px;
	margin: 0 3px 0 0;
}














