.b-label {
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    color: #FFFFFF;
    display: inline;
    font-size: 60%;
    font-weight: bold;
    line-height: 1;
    padding: 0em 0.5em 0em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
	font-family: Tahoma, Arial, Serif; 
}

.b-label_color_grey {
	background-color: #94ab8c;
	color: #fff;
	border: 1px solid #7f9b82;
}