.m-layout {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	overflow-y: scroll;

	width: 100%;
	height: 100%;

	-webkit-transition: left .3s;
	-o-transition: left .3s;
	transition: left .3s;

	background-color: #fff;
}

.m-layout_show-menu_yes {
	left: 260px;
}

.m-layout__close-global {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 260px;

	display: none;
}

.m-layout__close-global_on {
	display: block;
}

@media (max-width: 319px) {
	.m-layout_show-menu_yes {
		left: 180px;
	}

	.m-layout__close-global {
		left: 180px;
	}
}
