.b-company-news {}
.b-company-news__list {
	margin-bottom: 14px;
}
.b-company-news__item {
	padding-left: 120px;
	overflow: hidden;
	margin-bottom: 10px;
}
.b-company-news__item-pic {
	float: left;
	margin-left: -120px;
	margin-top: 2px;
}
.b-company-news__item-title {
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 7px;
}
.b-company-news__item-date {
	font-size: 11px;
	color: #666666;
	margin-bottom: 3px;
}
.b-company-news__item-text {
	font-size: 12px;
	line-height: 18px;
}

.b-company-news__link-all {
	font-size: 18px;
}





