a.b-header-auth__tab__mail-link {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	background: (../css/less/blocks/b-header-auth/img/b-header-mail.png) right -44px no-repeat;
	padding-right: 23px;
	margin-right: 5px;
	position:relative;
	top: 1px;

	&:hover {
		color: #fff;
	}

	&:visited {
		color: #fff;
	}
}
