.b-job-list {
	display: table;
	width: 100%;
	border-collapse: collapse;
	font: 13px Helvetica, Arial, Tahoma, sans-serif;
}

.b-job-list__vacancy,
.b-job-list__ad {
	display: table-row;
	border-top: 2px solid #f1f5e8; /*#f7faee;*/
}

.b-job-list__vacancy:nth-child(2n+1) {
	background: #f1f5e8; /*#f7faee;*/
}

.b-job-list__vacancy:first-child {
	border-top-width: 0;
}

.b-job-list__info,
.b-job-list__desc,
.b-job-list__logo-cell,
.b-job-list__empty,
.b-job-list__ad-content {
	display: table-cell;
	padding: 10px 14px 12px;
	vertical-align: top;
}

.b-job-list__ad-content {
	padding-left: 9px;
}

.b-job-list__info {
	width: 170px;
}

.b-job-list__salary {
	margin-bottom: 8px;
	color: #ff5400;
	white-space: nowrap;
	font-weight: bold;
	font-size: 18px;
}

.b-job-list__salary_layout_small {
	position: relative;
	top: 2px;
	font-size: 16px;
}

.b-job-list__company,
.b-job-list__name,
.b-job-list__more-cities,
.b-job-list__vacancy-link {
	border-bottom: 1px solid #b2d6e0;
	color: #007899;
	text-decoration: none;
}

.b-job-list__name {
	border-bottom-style: dotted;
}

.b-job-list__name {
	font-size: 18px;
}

.b-job-list__wrap {
	margin-bottom: 16px;
}

.b-job-list__city,
.b-job-list__address {
	margin-bottom: 2px;
}

.b-job-list__company:visited,
.b-job-list__name:visited,
.b-job-list__more-cities:visited,
.b-job-list__vacancy-link:visited {
	color: #007899;
}

.b-job-list__name:hover,
.b-job-list__company:hover,
.b-job-list__more-cities:hover,
.b-job-list__vacancy-link:hover {
	border-bottom-color: #ffcbb2;
	color: #ff5400;
}

.b-job-list__preview {
	margin-top: 10px;
}

.b-job-list__full-text {
	margin-top: 12px;
}

.b-job-list__info-field {
	margin-bottom: 4px;
}

.b-job-list__info-label {
	float: left;
}

.b-job-list__info-desc {
	display: block;
	margin-left: 54px;
}

.b-job-list__vacancy-link {
	display: inline-block;
	margin-top: 24px;
}

.b-job-list__logo-link:hover {
	opacity: .9;
}

.js-job-list__toggle-view {
	display: none;
}

.b-job-list__link-all {
	font-size: 18px;
}

.b-job-list__count-all {
	color: #666666;
	font-size: 18px;;	
}




/*TMP:*/
.b-job-list .b-btn__text {
	text-decoration: none;
}

.b-job-list .b-btn {
	clear: both;
	margin: 18px -50px 0 -4px;
}



