.b-banking-program {
	font-size: 14px;
	padding: 0 10px;
}
.b-banking-program__category {
	color: #666;
	margin-bottom: 5px;
	margin-top: 10px;
}

.b-banking-program__category-link {
	font-size: 18px;
	line-height: 18px;
}

.b-banking-program__content {
	margin-left: 30px;
	border-bottom: 1px solid #cfcfcf;
	overflow: hidden;
}

.b-banking-program__content_last {
	border-bottom: none;
}

.b-banking-program__title {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 2px;
	padding-top: 8px;
}
.b-banking-program__descr {
	color: #666666;
	font-size: 12px;
	line-height: 14px;
	
	padding-bottom: 9px;
}
.b-banking-program__pic {
	float: left;
	margin-right: 10px;
	vertical-align: middle;
	margin-top: 12px;
	margin-bottom: 8px;
}









