.b-card-info {
	font-size: 14px;
	line-height: 1.2;
}

.b-card-info_mb_yes {
	margin-bottom: 16px;
}

.b-card-info__term {
	display: inline;
	color: #999;
}

.b-card-info__term_newline_yes {
	display: block;
}

.b-card-info__desc {
	display: inline;
}
