/* =VARIABLES (LESS @variables do not get compiled into the final CSS file)
   ---------------------------------------------------------------------------------------------------- */
  
@base-background:      #fff; /*белый*/
@base-text:            #000; /*черный*/

@white:                #fff; /*белый*/
@black:                #000; /*черный*/



@link-color: 		   #007899; /* синяя ссылка */
@light-green-text: 	   #e1f2ba; /* зеленая ссылка в меню футера */

@green-text: 		   #6A8E16; /* зеленый текст */
@grey-text: 		   #808080; /* серый текст */
@orange-text: 		   #ff5400; /* оранжевый текст */

@grey-bg: 			   #ccc;	/* фон серый*/
@orange-bg: 		   #ff8f00; /* фон оранжевый */
@green-bg: 			   #6A920F; /* фон серый*/
@green-bg-darken:	   #5f7e13; /* фон зеленый темный */
@green-bg-lighter:	   #d6eaaa; /* фон зеленый яркий */
@green-footer-line:    #9cb958; /* цвет чуть заметной полоски в футере */
@green-menu-bg: 	   #f2ffd3;
