.layout {
  height: 100%;
}

.layout__body {
  position: relative;
  z-index: 1;

  min-width: 960px;
  min-height: 100%;
}

.layout__etui {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.layout__header {
  position: relative;
  z-index: 4;

  height: 45px;

  background-color: #6a920f;
}

.layout__main {
  box-sizing: border-box;
  min-height: 100%;
  margin: -45px auto -140px;
  padding: 45px 0 140px;
}

.layout__footer {
  height: 140px;

  background-color: #6a920f;
}
