.b-pseudo {
	font-size: 1em;
}

.b-pseudo__link {
	border-bottom: 1px dotted #037dd3;
	color: #037dd3;
	cursor: pointer;
}

.b-pseudo__link:hover {
	border-bottom: 1px dotted #ff5400;
	color: #ff5400;
	cursor: pointer;
}
