.b-goods-tile {
	font-size: 1em;
}

.b-goods-tile__row {
	margin-bottom: 20px;
}

.b-goods-tile__row:before,
.b-goods-tile__row:after {
	display: block;
	clear: both;

	content: '';
}

.b-goods-tile__elem {
	float: left;

	width: 24.25%;
	margin-left: 1%;
}

.b-goods-tile__elem:first-child {
	margin-left: 0;
}

.b-goods-tile__wrap {
	position: relative;

	display: block;

	height: 150px;
	margin-bottom: 6px;

	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
}

.b-goods-tile__price {
	font-size: 1.08em;
	font-weight: bold;
	line-height: 1.08em;

	position: absolute;
	bottom: 0;
	left: 0;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	padding: .3em .3em .1em;

	white-space: nowrap;
	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;

	color: #fff;
	background: #f17e00;
}

.b-goods-tile__link {
	font-size: 1.15em;
	line-height: 1.2;

	color: #037dd3;
}

.b-goods-tile__link:visited {
	color: #c45da1;
}

.b-goods-tile__link:hover {
	color: #7b0101;
}

.b-goods-tile__date {
	font-size: .92em;

	color: #898989;
}

.b-goods-tile_small .b-goods-tile__wrap {
	height: 80px;
}

.b-goods-tile_small .b-goods-tile__elem {
	width: 21%;
	margin-right: 2.5%;
	margin-left: 0;
}

.b-goods-tile_small .b-goods-tile__price {
	font-size: 11px;
	line-height: 11px;

	height: 15px;
}
