.b-blog-list {
	
	li {
		font-size: 13px;
		line-height: 18px;
		margin-bottom: 7px;
		
		
		.b-comments {
			font-size: 11px;
			color: @grey-text;
			
		}
		
		.b-comments__count {
			text-decoration: none;
			color: @grey-text;
		}
		
		.b-comments__count_status_vip {
			color: @orange-text;
			text-decoration: none;
		}
		
		.b-blog-list__theme {
			.b-link_color_green;
			.b-link_border_yes;
			.b-link_visited_yes;
						
		}
		

		
	}
}
