.b-username {
	position:relative;
	margin-left: 15px;
}

a.b-username,
a.b-username:visited,
a.b-username:hover,
a.b-username:active {
  	border-bottom: 1px solid rgba(0, 120, 153, 0.30000000000000004);
	color: #007899;
  	text-decoration: none;
}

.username_sex_icon {
	position:absolute;
	top: 50%;
	left: -12px;
	display: block;
	margin-top: -4px;
	width: 10px;
	height: 10px;
	content:'';
}

.b-username_sex_male:before {
	.username_sex_icon;
	background: url(../css/less/blocks/b-username/img/user-m_off.gif) 0 0 no-repeat;
}

.b-username_sex_female:before {
	.username_sex_icon;
	background: url(../css/less/blocks/b-username/img/user-f_off.gif) 0 0 no-repeat;
}

.b-username_sex_male.b-username_status_online:before {
	background: url(../css/less/blocks/b-username/img/user-m.gif) 0 0 no-repeat;
}
.b-username_sex_female.b-username_status_online:before {
	background: url(../css/less/blocks/b-username/img/user-f.gif) 0 0 no-repeat;
}
