.b-valute-converter {
	padding: 6px 20px 14px;
	
}
.b-valute-converter__table {
	width:auto;
	
}

.b-valute-converter__row {}
.b-valute-converter__cell {
	padding: 0;
	width:1%;
}

.b-valute-converter__cell-text {
	padding-top:4px;
	font-size: 14px;;
}

.b-valute-converter__cell_eqv {
	vertical-align: top;
}


.b-valute-converter__input {
	font-size: 21px;
	font-weight: bold;
	width: 115px;
	text-align: right
	
}
.b-valute-converter__input_hidden {
	display: none;
}
.b-valute-converter__result {
	font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
}
.b-valute-converter__result_hidden {
	display: none;
}
.b-valute-converter__gap {
	padding: 0 0 0 10px;
	width:1%;
}
.b-valute-converter__dropdown {
	position: relative;
}
.b-valute-converter__dropdown_big {}
.b-valute-converter__dropdown-link {
	color: #0000CC;
    border-bottom: 1px dotted;
    font-weight: bold;
    margin: 0 0 0 5px;
    outline: medium none;
    text-decoration: none;
    white-space: nowrap;	
}
.b-valute-converter__dropdown-list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    display: none;
    left: 0;
    margin: -1px 0 0;
    padding: 4px;
    position: absolute;
    z-index: 999;
}
.b-valute-converter__dropdown-list__item {
	margin: 0 0 3px;
	 position: relative;
}
.b-valute-converter__dropdown-list__item-link {
    outline: medium none;
    text-decoration: none;
    white-space: nowrap;
	color: #0000CC;
}
.b-valute-converter__switch {
    background: url("./less/blocks/b-valute-converter/img/b-valute-converter-eqv.png") no-repeat scroll 0 0 #FFFFFF;
    display: block;
    font: 0px/0 a;
    height: 32px;
    margin: 0 10px;
    outline: medium none;
    padding: 0;
    width: 45px;
	position: relative;
	top:-2px;
}

.b-valute-converter__switch:hover {
	background-position: 0 -34px;
}

.b-valute-converter-green {
	color: @green-text;
}




.b-valute-converter-more {
	position: relative;

	.b-more__visible {
		white-space: nowrap;
		font-size: 16px;
		font-weight:bold;
		
		.b-link_color_blue;
		.b-link_border_yes;
		.b-link_border_style_dotted;
		.b-link_visited_no;
		
		border-bottom-width:1px;
	}
	
	.b-more__elem {
		margin-bottom: 8px;
	}
	
	.b-link {
		.b-link_color_blue;
		.b-link_border_yes;
		.b-link_border_style_dotted;
		.b-link_visited_no;		
	}
}

.b-valute-converter__gap .b-valute-converter-more {
	top:-3px;
}





























