.b-text__h1 {
	font: normal 24px/18px Arial, Helvetica, Sans;
	margin: 13px 0 20px;
}

.b-text__h3 {
	font: normal 18px/26px Arial, Helvetica, Sans;
	margin: 18px 0 10px;
}

.b-text_offsetLeft_20 {
	margin-left: 20px;
}

.b-text_color_red {
	color: #930000;
}

.b-text p {
	font: normal 14px/21px Arial, Helvatica, Sans;
	margin: 0px 0 10px;
}