.b-afisha-main {
	margin-bottom: 5px;
	margin-right: -2px;
}

.b-afisha-main__table {
	width: 100%;
}

.b-afisha-main__table__cell {
	padding: 0 0 2px;
	border-right: 2px solid transparent;
}

.b-afisha-main__table__cell_short {
	width:50%;
}


.b-afisha__item {
	display: block;
	height: 69px;
	position:relative;
	background-position: center bottom; 
	margin-top: 1%;
	
	.b-afisha-item__shadow {
		display: block;
		position:absolute;
		width: 100%;
		background: url(./less/blocks/b-afisha-main/img/b-news-gradient-small.png) 0 0 repeat-x;
		height: 100%;
	}

	&:hover {
		.b-afisha-item__shadow {
			opacity: 0.85;
		}
	}
	
}

.b-afisha-main__table__cell_short .b-afisha-main__title {
	font-size: 11px;
}


.b-afisha__item_size_big {
	height: 120px;
	margin-top: 2px;
	
	.b-afisha-item__shadow {
		background: url(./less/blocks/b-afisha-main/img/b-news-gradient.png) 0 0 repeat-x;
	}
}

.b-afisha-main__label {
	position:absolute;
	color: @white;
	top: 0px;

	font-size: 10px;
	left: 0px;
	display: block;
	text-decoration: none;
	padding: 0 3px 2px;
	
	background: #7db200;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzY3OTMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTY3MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7db200 0%, #679300 47%, #4a6700 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db200), color-stop(47%,#679300), color-stop(100%,#4a6700));
	background: -webkit-linear-gradient(top,  #7db200 0%,#679300 47%,#4a6700 100%);
	background: -o-linear-gradient(top,  #7db200 0%,#679300 47%,#4a6700 100%);
	background: -ms-linear-gradient(top,  #7db200 0%,#679300 47%,#4a6700 100%);
	background: linear-gradient(to bottom,  #7db200 0%,#679300 47%,#4a6700 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db200', endColorstr='#4a6700',GradientType=0 );
}

.b-afisha__item_count_last {
	float: right;
}


.b-afisha-main__title {
	position:absolute;
	padding: 5px 8px 5px;
	bottom: 0px;
	left: 0px;
	font-size: 13px;
	color: @white;
	display: block;
}


.b-afisha__item_size_big {

	.b-afisha-main__title {
		position:absolute;
		padding: 8px;
		bottom: 0px;
		left: 0px;
		font-size: 13px;
		color: @white;
		display: block;
		
		.b-afisha-main__deails {
			font-size: 11px;
			color: @grey-text;
			display: block;
			margin-top: 2px;
		}
		
	}
}