html,body{
	margin:0;
	padding:0;
	width:100%;
	height:100%
}
body{
	background:#f9f9f9 url("/images/bg.png") repeat center 0;
	font-family:myrd,arial,helvetica,sans-serif;
	font-size:14px;
	line-height:22px;
	color:#444;
	-webkit-font-smoothing:antialiased
}
.page-center {
	height: 100%;
}
.b-page__wrap {
    height: auto !important;
	//height: 100%;
    margin-bottom: -140px;
    min-height: 100%;
    position: relative;
}


.b-header {
	position:relative;
	background:red;
	height:45px;
}

.b-content {}


.b-footer {
	position:relative;
	height:140px;
	background: green;
}

.b-footer__push{
	height:240px;
	position: static;
	background: none;
}
