.b-container {
	padding: 10px;
}
.b-container_padding_20 {
	padding: 20px;
}

.b-container_padding-bottom_0 {
	padding-bottom: 0px;
}

.b-container_padding-bottom_10 {
	padding-bottom: 10px;
}


.b-container_padding-top_10 {
	padding-top: 10px;
}

.b-container_padding_none {
	padding: 0;
}

.b-container_color_green-light {
	background-color: #e1f2ba;
}
.b-container_color_white {
	background-color: #fff;
}