.b-submenu-ads {
	padding-top: 0;
	padding-left: 0;
	list-style-type: none;
	line-height: 1.5;
}

.b-submenu-ads .b-submenu-ads__elem {
	margin-bottom: 20px;
}

.b-submenu-ads .b-submenu-ads__desc {
	overflow: hidden;
	margin-bottom: 0;
	margin-left: 50px;
	max-height: 36px;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-size: 12px;
}

.b-submenu-ads .b-submenu-ads__img-wrap {
	float: left;
	clear: both;
	overflow: hidden;
	width: 40px;
	height: 30px;
	text-align: center;
}

.b-submenu-ads .b-submenu-ads__img {
	max-width: 40px;
	max-height: 30px;
}

.b-submenu-ads .b-submenu-ads__price {
	margin-top: 2px;
	margin-left: 50px;
	color: #000;
	font-weight: bold;
	font-size: 12px;
}

.b-submenu-ads a.b-submenu-ads__link {
	border-bottom: 1px solid #bccd92;
	color: #4d660f;
	text-decoration: none;
}

.b-submenu-ads .b-submenu-ads__link:visited {
	color: #4d660f;
}

.b-submenu-ads .b-submenu-ads__link:hover {
	border-bottom: 1px solid #FFCBB2;
	color: #FF5400;
}
