.b-header-auth__tab__logined-user {
	position: relative;
}

.b-header-auth__tab__logined-user-ellipsed {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 88%;	
	white-space: nowrap;
	color: #fff;	
	position: relative;
	top: 1px;	
}

.b-header-auth__tab__logout-link {
	position: absolute;
	right: 3px;
	top: 6px;
}