.b-header-auth__tab__logined-user__link__pic {
	display: block;
	position:absolute;
	width: 20px;
	height: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	left: 0px;
	top: -3px;
	box-shadow: 0 0 3px #8fa856;
}