a.b-header-auth__tab__mail-link {
	position:relative;
	top: 1px;
	margin-right: 5px;
	padding-right: 23px;
	background: url(../css/less/blocks/b-header-auth/img/b-header-mail.png) right -44px no-repeat;
	color: #fff;
	text-decoration: none;
	font-size: 14px;

	&:visited {
		color: #fff;
	}

	&:hover {
		color: #fff;
	}
}
