.b-header-auth__tab__mail-link__count {
	position:absolute;
	top: -7px;
	right: -3px;
	z-index: 100;
	display: none;
	padding: 2px 2px 1px 1px;
	border-radius: 3px;
	background: #ff5400;
	box-shadow: 1px 1px 3px 0px #566d1f;
	font-size: 10px;
}
