.b-header-auth__tab__logined-user {
	position: relative;
}

.b-header-auth__tab__logined-user-ellipsed {
	position: relative;
	top: 1px;
	overflow: hidden;
	width: 120px;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.b-header-auth__tab__logout-link {
	position: absolute;
	top: 6px;
	right: 3px;
}
