a.b-header-auth__tab__logined-user__link {
	position:relative;
	padding-left: 25px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;

	&:visited {
		color: #fff;
	}

	&:hover {
		color: #fff;
	}
}
