@import "b-header-auth__tab.less";
@import "b-header-auth__tab__link.less";
@import "b-header-auth__tab__logined-user.less";
@import "b-header-auth__tab__logined-user__link.less";
@import "b-header-auth__tab__logined-user__link__pic.less";
@import "b-header-auth__tab__mail-link.less";
@import "b-header-auth__tab__mail-link__count.less";
@import "b-header-auth__tab__mail-link__label.less";
@import "b-header-auth__tab__mail-link_has_new.less";
@import "b-header-auth__tab_active_yes.less";


.b-header-auth {
	position:relative;
	width: 100%;
	border-collapse: collapse;
}

.page-fixed-right .b-header-auth {
	float: right;
	width: 240px;
}

#v5-frame .b-header-auth {
	float: right;
	width: 240px;
}



