.b-user-fotos {
	width: 100%;
	font-size: 13px;
	margin-top: 10px;
	td {
		border-right: 1px solid @white;
		vertical-align: top;
	
		img {
			display: block;
			width: 100%;
			margin-bottom: 3px;
		}
	}


}