.b-doska-ncard {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	padding-top: 15px;
	border-top: 2px solid #fe8505;
	background: #eff5de;
}

.b-doska-ncard:after {
	display: block;
	clear: both;
	content: '';
}

.b-doska-ncard__ad {
	margin: 0 auto 20px;
	max-width: 736px;
	text-align: center;
}

.b-doska-ncard__heading {
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 30px;
	line-height: 1.2;
}

.b-doska-ncard__info {
	float: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: -15px;
	margin-right: -20px;
	padding: 15px 0 20px 20px;
	width: 250px;
}

.b-doska-ncard__info_sticky_top {
	position: fixed;
	top: 15px;
}

.b-doska-ncard__info_sticky_parent-bottom {
	position: absolute;
	bottom: 0;
}

.b-doska-ncard__content {
	margin-right: 250px;
	background: #fff;
	-webkit-box-shadow: 0 0 3px #e0e6d0;
	-moz-box-shadow: 0 0 3px #e0e6d0;
	box-shadow: 0 0 3px #e0e6d0;
}

.b-doska-ncard__text {
	padding: 20px;
	padding-right: 50px;
	font-size: 16px;
	line-height: 1.5;
}

.b-doska-ncard__ya-ad {
	margin-top: 30px;
	margin-right: 250px;
}

.b-doska-ncard .b-showcase {
	margin-top: 2px;
}

.b-doska-ncard .b-showcase_top {
	margin-top: 0;
}
