@left_afisha_padding: 36px;

.b-tele-afisha {
	font-size: 12px;
	line-height: 18px;
}

.b-tele-afisha-row {
	position:relative;
	padding-left: @left_afisha_padding;
	padding-right: 20px;
	margin-bottom: 6px;
	
	a.b-tele-afisha__link {
		margin-right: 10px;
	}
	
	a.b-tele-afisha__channel {
		border: none;
		display: inline-block;
		vertical-align: middle;
		
		img {
			display: block;
		}
	}
}

.b-tele-afisha__time {
	color: @grey-text;
	text-decoration: none;
	font-size: 10px;
	position:absolute;
	left: 0px;
	top: 1px;
	width: 28px;
	text-align: right;
}

a.b-tele-afisha-link-more {
	font-size: 11px;
	position:relative;
	outline: none;
	left: @left_afisha_padding;
}
