.main-rate {
  font-family: PT Sans Narrow, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}
.main-rate__currency {
  display: block;
  float: left;
  width: 20px;
  color: #6a920f;
}
.main-rate__before-point {
  float: left;
  width: 40px;
  text-align: right;
}
.main-rate__before-point:after {
  content: ',';
}
.main-rate__after-point {
  float: left;
}
.main-rate__additional {
  font-weight: normal;
  margin-right: 5px;
  margin-left: 1px;
  color: #ddd;
}
.main-rate__fluct {
  font-size: 12px;
  font-weight: normal;
  position: relative;
  padding-left: 5px;
  color: #bbb;
}
.main-rate__fluct_fall:before {
  line-height: 12px;
  position: absolute;
  bottom: 1px;
  left: -2px;
  height: 12px;
  content: '−';
}
.main-rate__fluct_appreciation:before {
  line-height: 12px;
  position: absolute;
  bottom: 1px;
  left: -2px;
  height: 12px;
  content: '+';
}
.exrate {
  font-family: PT Sans Narrow, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  height: 40px;
  -webkit-transition: height .4s;
  transition: height .4s;
  border-top: 1px dotted #eee;
  border-bottom: 1px dotted #fff;
}
.exrate_fusty {
  color: #999;
}
.exrate_expand {
  height: 240px;
  border-top: 1px solid #aaa;
}
.exrate_expand + .exrate {
  border-top: 1px solid #aaa;
}
.exrate_expand .exrate__price {
  font-weight: bold;
}
.exrate_head {
  font-size: 11px;
  line-height: 30px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 4;
  top: 0;
  overflow: visible;
  height: 30px;
  margin-right: -10px;
  margin-left: -10px;
  padding-right: 10px;
  padding-left: 10px;
  border-top-color: #fff;
  background-color: #fff;
}
.exrate_head:before {
  position: absolute;
  z-index: -2;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 5px;
  content: '';
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.exrate_head:after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  background-color: #fff;
}
.exrate_head + .exrate {
  border-top-color: #fff;
}
.exrate__controls,
.exrate__name {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-right: 110px;
}
.exrate__controls_map {
  margin-right: 0;
}
.exrate__name-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  white-space: nowrap;
}
.xexrate__name-wrap:after {
  position: absolute;
  top: 2px;
  right: -18px;
  display: block;
  width: 18px;
  height: 38px;
  background: none center no-repeat transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50"><path fill="#666" d="M25 32.4l-9.7-9.7 1.4-1.4 8.3 8.3 8.3-8.3 1.4 1.4z"/></svg>');
}
.exrate__name_long {
  font-size: 14px;
}
.exrate_fusty:after {
  font-size: 8px;
  position: absolute;
  right: 27px;
  bottom: -14px;
  display: block;
  content: 'Курсы устарели';
  color: #e99;
}
.exrate__price {
  float: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60px;
  text-align: center;
}
.exrate__filter:after,
.exrate__filter_asc:after,
.exrate__filter_desc:after {
  line-height: 30px;
  display: inline-block;
  width: 16px;
  height: 30px;
  content: '';
  vertical-align: bottom;
  background: none center no-repeat transparent;
  -webkit-background-size: 8px 8px;
  background-size: 8px;
}
.exrate__filter:after {
  background-image: url('data:image/svg+xml;utf8,<svg width="20" height="12" viewBox="0 0 20 12" xmlns="http://www.w3.org/2000/svg"><title>Untitled 2</title><desc>Created with Sketch.</desc><g fill="none" fill-rule="evenodd"><path d="M10 11.4L.3.3h19.4L10 11.4z" fill="#ddd"/></g></svg>');
}
.exrate__filter_asc:after {
  background-image: url('data:image/svg+xml;utf8,<svg width="20" height="12" viewBox="0 0 20 12" xmlns="http://www.w3.org/2000/svg"><title>Untitled 2</title><desc>Created with Sketch.</desc><g fill="none" fill-rule="evenodd"><path d="M10 11.4L.3.3h19.4L10 11.4z" fill="#777"/></g></svg>');
}
.exrate__filter_desc:after {
  background-image: url('data:image/svg+xml;utf8,<svg width="20" height="12" viewBox="0 0 20 12" xmlns="http://www.w3.org/2000/svg"><title>Untitled 2</title><desc>Created with Sketch.</desc><g fill="none" fill-rule="evenodd"><path d="M10 .3l9.7 11.1H.3L10 .3z" fill="#777"/></g></svg>');
}
.exrate__filter_best {
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-top: 5px;
  color: #6a920f;
}
.exrate__map {
  position: absolute;
  top: 40px;
  display: block;
  width: 100%;
  height: 200px;
}
.exrate__controls .link {
  position: relative;
  margin-left: 12px;
}
.exrate__controls .link:before {
  position: absolute;
  top: 0;
  left: -16px;
  display: block;
  width: 16px;
  height: 16px;
  content: '';
  background: none center no-repeat transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" enable-background="new 0 0 50 50"><path fill="#004a60" d="M25 42.5l-.8-.9C23.7 41.1 12 27.3 12 19c0-7.2 5.8-13 13-13s13 5.8 13 13c0 8.3-11.7 22.1-12.2 22.7l-.8.8zM25 8c-6.1 0-11 4.9-11 11 0 6.4 8.4 17.2 11 20.4 2.6-3.2 11-14 11-20.4 0-6.1-4.9-11-11-11z"/><path fill="#004a60" d="M25 24c-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5-2.2 5-5 5zm0-8c-1.7 0-3 1.3-3 3s1.3 3 3 3 3-1.3 3-3-1.3-3-3-3z"/></svg>');
}
.exrate__controls_map .link {
  margin-left: 12px;
}
.exrate__controls_map .link:before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" enable-background="new 0 0 20 20"><path fill="#004a60" d="M14.4 9H8.6c-.552 0-.6.447-.6 1s.048 1 .6 1h5.8c.552 0 .6-.447.6-1s-.048-1-.6-1zm2 5H8.6c-.552 0-.6.447-.6 1s.048 1 .6 1h7.8c.552 0 .6-.447.6-1s-.048-1-.6-1zM8.6 6h7.8c.552 0 .6-.447.6-1s-.048-1-.6-1H8.6c-.552 0-.6.447-.6 1s.048 1 .6 1zM5.4 9H3.6c-.552 0-.6.447-.6 1s.048 1 .6 1h1.8c.552 0 .6-.447.6-1s-.048-1-.6-1zm0 5H3.6c-.552 0-.6.447-.6 1s.048 1 .6 1h1.8c.552 0 .6-.447.6-1s-.048-1-.6-1zm0-10H3.6c-.552 0-.6.447-.6 1s.048 1 .6 1h1.8c.552 0 .6-.447.6-1s-.048-1-.6-1z"/></svg>');
  -webkit-background-size: 12px 12px;
  background-size: 12px;
}
.exrate__controls .m-select {
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  float: right;
  width: 64px;
  height: 16px;
  margin-top: 7px;
  margin-bottom: 0;
  margin-left: 10px;
  padding-right: 20px;
  background-position: right 4px center;
  -webkit-background-size: 10px 10px;
  background-size: 10px;
}
.m-drugs-map__map-wrap .m-select {
  position: absolute;
  z-index: 99999;
  top: 50px;
  right: 10px;
  background-color: #fff;
}
