.b-main-informer {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 7px;
	color: #808080;
}

.b-main-informer_weather a.b-link:hover,
.b-main-informer_weather a.b-link:visited,
.b-main-informer_valute a.b-link:hover,
.b-main-informer_valute a.b-link:visited {
	color: @black;
	border-bottom: 1px solid fadeout(@black, 70%);	
}