.b-banner {
	margin: 8px 0px 20px -5px;
	
	img {
		width: 100%;
		display: block;
	}
}

.b-banner_layout_middle-page {
	margin-top: 3px;
	margin-bottom: 15px;
	margin-left: 0px;
}

.b-banner_layout_middle-page-2-col {
	float: right;
	margin-left: 30px;
}

.b-banner_layout_middle-page-3-col {
	margin-bottom: 15px;
	margin-left: 0px;
	
	object {
		height: 190px;
	}
	
	@media @desktop-mini {
		object {
			height: 145px !important;
		}
	}
}

.b-banner_layout_middle-page-4-col {
	margin-top: 0px;
	margin-left: 0px;
	
	object {
		height: 400px;
	}
	
	@media @desktop-mini {
		object {
			height: 320px !important;
		}
	}	
	
}