.b-banner {
	img {
		display: block;
		width: 100%;
	}
}

.b-banner_layout_middle-page {
	margin-left: 0px;

	div,
	embed {
		width: 100% !important;
	}
}

.b-banner_layout_middle-page-2-col {
	position: relative;
	z-index: 100;
	float: right;
	margin-top: 7px;
	margin-left: 30px;
}

.b-banner_layout_middle-page-3-col {
	margin-left: 0px;

	div {
		width: 100% !important;
	}

	object {
		width: 100% !important;
		height: 190px;
	}

	embed {
		width: 100% !important;
	}

	@media @desktop-mini {
		object {
			height: 145px !important;
		}
	}
}

.b-banner_layout_middle-page-4-col {
	margin-left: 0px;

	div {
		width: 100% !important;
	}

	object {
		height: 400px;
	}

	embed {
		width: 100% !important;
	}

	@media @desktop-mini {
		object {
			height: 320px !important;
		}
	}

}
