@import (less) url('../../../fonts/PT Sans Narrow.css');
@import (less) url('../../../blocks/m-button/css/m-button.css');

.madv-2col {
  font-family: PT Sans Narrow, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;

  display: table;

  width: 100%;

  table-layout: fixed;

  color: #004a60;
  border-top: 1px solid #f1f1f1;
}

.madv-2col__row {
  display: table-row;
}

.madv-2col__row_logo .madv-2col__cell {
  padding-top: 10px;

  vertical-align: middle;
}

.madv-2col__cell {
  display: table-cell;

  padding: 10px;
  padding-left: 5px;

  text-align: center;
  vertical-align: top;
  text-decoration: none;

  color: #004a60;
}

.madv-2col__cell:first-child {
  padding-right: 5px;
  padding-left: 10px;
}

.madv-2col__row_desc .madv-2col__cell {
  padding-top: 0;
}

.madv-2col__row_button .madv-2col__cell {
  padding-top: 5px;
}

.madv-2col__logo {
  max-width: 100%;
  height: auto;
}



.madv-showcase {
  font-family: PT Sans Narrow, Arial, 'Helvetica Neue', Helvetica, sans-serif;

  position: relative;

  display: block;

  margin-top: 2px;
}

.madv-showcase__img {
  display: block;

  width: 100%;
}

.madv-showcase__desc {
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;

  position: absolute;
  bottom: 0;
  left: 0;

  max-width: 70%;
  padding: 10px;
  padding-left: 15px;

  color: #fff;
  background-color: #000;
}

.madv-showcase_right .madv-showcase__desc {
  right: 0;
  left: auto;
}



.madv {
  font-family: PT Sans Narrow, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;

  padding: 10px;

  color: #004a60;
  border-top: 1px solid #f1f1f1;
}

.madv__img-wrap {
  display: block;
  float: left;
}

.madv__img {
  display: block;

  max-width: 120px;
  height: auto;
}

.madv__desc {
  display: block;

  margin-bottom: 15px;
  margin-left: 130px;

  text-decoration: none;

  color: #004a60;
}

.madv__button_wrap {
  margin-left: 130px;
}
