.b-credit-table {
	display: table;
	margin-top: 18px;
	margin-bottom: 12px;
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
}

.b-credit-table_layout_no-mt {
	margin-top: 0;
}

.b-credit-table__row {
	display: table-row;
	border-bottom: 2px solid #e9efdb;
}

.b-credit-table__head {
	display: table-row;
	background: #e9efdb;
	color: #7c8075;
	font-size: 11px;
	line-height: 1.5;
}

.b-credit-table__cell {
	display: table-cell;
	padding: 10px 14px 10px;
	vertical-align: middle;
	line-height: 1.4;
}

.b-credit-table_layout_va-top .b-credit-table__cell {
	vertical-align: top;
}

.b-credit-table__head .b-credit-table__cell {
	padding-top: 8px;
	padding-bottom: 7px;
}

.b-credit-table__cell_layout_nowrap {
	white-space: nowrap;
}

.b-credit-table__cell_layout_center {
	text-align: center;
}

.b-credit-table__cell_sorted {
	font-weight: bold;
}

.b-credit-table__sort {
	color: #7c8075;
}

.b-credit-table__sort_asc,
.b-credit-table__sort_desc {
	color: #779e00;
}

.b-credit-table__sort_asc:after {
	display: inline-block;
	margin-left: 2px;
	width: 7px;
	height: 7px;
	background: url(../img/credit-table-sort.png) left top no-repeat transparent;
	content: '';
}

.b-credit-table__sort_desc:after {
	display: inline-block;
	margin-left: 2px;
	width: 7px;
	height: 7px;
	background: url(../img/credit-table-sort.png) left bottom no-repeat transparent;
	content: '';
}

.b-credit-table__desc {
	margin-top: 4px;
	margin-bottom: 6px;
	color: #666;
	font-size: 12px;
	line-height: 1.2;
}

.b-credit-table__label {
	font-size: 12px;
}

.b-credit-table__checkbox {
	margin-left: 16px;
	margin-right: 2px;
}