.t-share-dns {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1;

	position: relative;
	z-index: 1;

	overflow: hidden;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 336px;
	margin-bottom: 30px;
	padding: 15px;

	background: none left top no-repeat #e9efdb;
	background-size: 100% 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}


.t-share-dns:after {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 15px;

	display: block;

	width: 265px;
	height: 135px;

	content: '';

	background: none left top no-repeat transparent;
	background-image: url('../img/66.png');
}

.t-share-dns__main {
	font-size: 16px;
	line-height: 1.2;

	margin-bottom: 10px;
}

.t-share-dns__extra {
	font-style: italic;

	margin-bottom: 20px;
}

.t-share-dns__social {
	display: block;
}

.t-share-dns__brand {
	display: block;

	text-decoration: none;

	color: #000;
}

.t-share-dns__wrap {
	background: #f89e0c;
	background: -moz-linear-gradient(left,  #f89e0c 0%, #ef8304 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f89e0c), color-stop(100%,#ef8304));
	background: -webkit-linear-gradient(left,  #f89e0c 0%,#ef8304 100%);
	background: -o-linear-gradient(left,  #f89e0c 0%,#ef8304 100%);
	background: -ms-linear-gradient(left,  #f89e0c 0%,#ef8304 100%);
	background: linear-gradient(to right,  #f89e0c 0%,#ef8304 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f89e0c', endColorstr='#ef8304',GradientType=1 );


	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;

	padding-top: 20px;
	padding-bottom: 15px;
}

.t-share-dns__img {
	position:absolute; letft: 0; top: 0; width: 321px; height: 218px; background-image: url('../img/dns_1_img.png');	
}

.t-share-dns__right {
	padding-left: 350px;
	text-align: center;
	color: #fff;
	height: 188px;
}

.t-share-dns__name {
	font-size: 32px;
	line-height: 38px;
	font-weight: bold;
	display: inline-block;
	padding-top: 30px;
}

.t-share-dns__button {
	font-size: 16px;
	line-height: 40px;

	position: absolute;
	right: 20%;
	bottom: 15px;

	height: 40px;
	padding: 0 20px;

	color: #fff;
	border-radius: 3px;
	background-color: #1fb7fc;
	background-image: -webkit-linear-gradient(top, #1f9cde, #00599d);
	background-image: -o-linear-gradient(top, #1f9cde, #00599d);
	background-image: linear-gradient(to bottom, #1f9cde, #00599d);
	text-shadow: none;
}

.t-share-dns__wrap:hover .t-share-dns__button {
	background-image: -webkit-linear-gradient(top, #40dfff, #00599d);
	background-image: -o-linear-gradient(top, #40dfff, #00599d);
	background-image: linear-gradient(to bottom, #40dfff, #00599d);
}
