@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop-mini: ~"only screen and (max-width: 1300px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";

/**/

@import "less/blocks/b-teaser-orange-text/css/b-teaser-orange-text.less";
@import "less/blocks/b-news-item/css/b-news-item.less";
@import "less/blocks/b-btn/css/b-btn.css";


@important-font: 'PT Sans Narrow', sans-serif;


html {
	font-size: 13px;
	-webkit-font-smoothing:antialiased;
	width:100%;
	height:100%	
}

/**/

.l-body-wrap {
	overflow: hidden;
}

.l-body {
	position:relative;
	margin-bottom:-140px;
	min-height:100%;
	height:auto !important;
	height:100%
}

.l-push {
	height:140px
}

.l-footer {
	background: #6a920f;
	height: 140px;
}

.l-header-wrap {
	background: #6a920f;
	height: 45px;
	position:relative;
}

.l-body-wrap {
	padding-top: 16px;
}


.l-width {
	max-width: 1324px;
	min-width: 950px;
	margin: 0 auto;
}

/**/

.b-drop-menu {
	position:relative;
	left: 0px;
	top: 45px;

	width: 100%;
	z-index: 1000;


}


.b-drop-menu__item {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #f2ffd3;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 5px 5px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 5px 5px rgba(0, 0, 0, 0.1);
	width: 100%;
}

.b-drop-menu_border-left_yes {
	border-left: 1px solid #e1efbf;
}

.b-drop-menu__list {
	font-size: 1rem;
	margin-bottom: -6px;
	margin-top: -6px;
	
	padding-left: 18px;
	
	li {
		margin-top: 7px;
		margin-bottom: 12px;
	}
	
	a {
		color: #4d660f;
		text-decoration: none;
		border-bottom: 1px solid #bccd92;
		
		&:hover {
			color: #FF5400;
			border-bottom: 1px solid #FFCBB2;
		}
	}
}






.b-drop-down-corrector {
	padding-right: 35px;
	padding-top: 18px;
	padding-bottom: 18px;	
	margin-top: 0px;
}


.b-drop-menu-bank-zajavka {
	padding-left: 12px;
	
	.b-drop-menu-bank-zajavka__btn {
		color: #fff;
		text-decoration: none;
		display: block;
		text-align: center;
		font-weight: bold;
		font-size: 1.1rem;
		background: #ff8f00;
		padding-top: 10px;
		padding-bottom: 7px;
		padding-left: 12px;
		padding-right: 12px;
		margin-bottom: 5px;
	}

	p {
		color: #3f530c;
		font-size: 0.85rem;
		line-height: 13px;
		font-style: italic;
	}
}



.b-drop-menu-day-theme {
	padding-left: 12px;
	
	.b-drop-menu-day-theme__label {
		font-size: 0.85rem;
		margin-bottom: 5px;
	}
	.b-drop-menu-day-theme__link {
		font-size: 1.5rem;
		line-height: 21px;
		color: #3f530c;
		text-decoration: none;
		border-bottom: 1px solid #c1d09f;
		
		&:hover {
			border-bottom: 1px solid #FFCBB2;
			color: #FF5400;
		}
	}
}








/**/

.b-banner {
	margin: 8px 0px 20px -5px;
	
	img {
		width: 100%;
		display: block;
	}
	
	.b-banner_layout_middle-page {
		
	}
}

.b-banner_layout_middle-page {
	margin-top: 3px;
	margin-bottom: 15px;
	margin-left: 0px;
}

.b-banner_layout_middle-page-2-col {
	float: right;
	margin-left: 30px;
}

.b-banner_layout_middle-page-3-col {
	margin-bottom: 15px;
	margin-left: 0px;
}

.b-banner_layout_middle-page-4-col {
	margin-top: 0px;
	margin-left: 0px;
}




.b-separator {
	height: 1px;
	margin: 5px 0;
}

.b-separator_border_yes {
	background: #cccccc;
}
.b-separator_border-color_orange {
	background: #ff8f00;
}
.b-separator_height_2 {
	height: 2px;
	margin: 0px;
}

.b-separator_height_4 {
	height: 4px;
	margin: 0px;
}

.b-separator_height_7 {
	height: 7px;
	margin: 0px;
}

.b-separator_height_10 {
	height: 10px;
	margin: 0px;
}

.b-separator_height_13 {
	height: 13px;
	margin: 0px;
}

.b-separator_height_17 {
	height: 17px;
	margin: 0px;
}






.b-header {

	a {
		.simple-link;
		outline-offset: -2px; 
		
	}
}
.b-header_type_h3 {
	font-size:1.4rem;
	font-family: @important-font;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 5px;
}

.b-footer-logo {
	display: block;
	background: #5f7e13;
	height: 140px;
	float: left;
	width: 100px;
	text-align: center;
}

.b-footer-logo img {
	position:relative;
	top: 14px;
}


/**/

.b-footer-menu {
	padding-top: 15px;
	padding-left: 15px;
	overflow: hidden;
	padding-bottom: 7px;
	border-bottom: 1px solid #9cb958;
}
.b-footer-menu li {
	float: left;
	font-size: 14px;
	line-height: 18px;
	margin-right: 2px;
	margin-bottom: 2px;
}
.b-footer-menu li a {
	color: #e1f2ba;
	display: block;
	text-decoration: none;
	padding: 5px 10px;
	
	
	&:hover {
		color: #708344;
		background: #d6eaaa;
	}
}

.b-footer-menu li.cur a {
		color: #708344;
		background: #d6eaaa;
}

.b-footer-links {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 12px;
	line-height: 16px;
	padding-top: 11px;
	
	li {
		margin-bottom: 6px;
		padding: 0 0 0 5px;
	}
	
	a {
		color: #fff;
		text-decoration: none;
		
		&:hover {
			border-bottom: 1px solid #fff;
		}
	}
}





.b-header-logo {
	
	display: block;
	float: left;
	height: 45px;
	background: #5f7e13;
	padding: 0 5px;
	
	text-align: center;
	
	img {
		position:relative;
		
		max-height: 45px;
	}
}

/**/

.b-header-menu-conainer {
	float: left; 
	margin-right: -100%;
}


.b-header-menu li {
	float: left;
	font-size: 1.1rem;
	
	a {
		display: block;
		padding: 0px 10px 0px 10px;
		height: 45px;
		line-height: 47px;
		position:relative;
		color: #fff;
		text-decoration: none;
		outline: none;

		&:hover {
			background: #e1f2ba;
			color: #3f530c;
		}		
	}
	
	a:after {
		content: '';
		display: inline-block;
		height: 25px;
		width: 1px;
		position:relative;
		right: -11px;
		top: 8px;
		background: #9db959;
	}
	
}

.b-header-menu li.cur {
	
	a {
		background: #e1f2ba;	
		color: #3f530c;
	}
	
	.b-header-menu__submenu {
		display: block;
	}
}



.b-header-menu li.hasSub {
	position:relative;
	
	> a {
		padding-right: 5px;
		
		
		&:hover {
			ins {
				background-image: url(../img/b-header-arr-dwn-.png);
			}
		}
	}
	
	a:after {
		display: none !important;
		content: none;
	}	

	ins {
		background-image: url(../img/b-header-arr-dwn.png);
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 12px;
		text-decoration: none;
		border: none;
	}
	
	
}

.b-header-menu li.hover {
	a {
		background: #e1f2ba;
		color: #3f530c;
		
		ins {
			background-image: url(../img/b-header-arr-dwn-.png);
		}

	}
	
	.b-header-menu__submenu li a {
		background: inherit;
		
		&:hover {
			background-color: #e1f2ba;
		}
	}
	

}


.b-header-menu li .b-header-menu__submenu {
	background: #f2ffd3; 
	padding-top: 6px; 
	padding-bottom: 5px;
	min-width: 100px;
	position:absolute;
	z-index: 100;
	display: none;
	
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 5px 5px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 5px 5px rgba(0, 0, 0, 0.1);	
	
	li {
		float: none;
	}
	
	a {
		color: #3f530c;
		height: auto;
		line-height: 1.2rem;
		padding: 9px 10px 9px;
	}	
}






















/**/

.b-header-search {
	position:relative;
	background: #afc971;
	float: left;
	box-shadow: 0 2px 4px 0px #8CA15A inset;
	border-radius: 5px;
	
	border-bottom: 1px solid #a8c468;
	border-left: 1px solid #8ca15a;
	border-right: 1px solid #8ca15a;
	border-top: 1px solid #809352;
	
	/*box-shadow: 2px 2px 3px 1px #809352 inset;*/
	top: 11px;
	padding-left: 6px;
	width: 60%;
}
input.b-header-search__text {
	border: none;
	background: none;
	color: #fff;
	font-size: 0.95rem;
	height: 24px;
	padding-top: 1px;
}
.b-header-search__subm {
	border: none;
	background: url(../img/b-header-search-btn.png) center center no-repeat;
	width: 27px;
	height: 27px;
	display: block;
	position:absolute;
	right: 2px;
	top: -1px;
	cursor: pointer;
	cursor: hand;
}

.b-header-search__subm_state_active {
	background: url(../img/b-header-search-btn-.png) center center no-repeat;
}


/**/

.b-header-authorize {
	position:relative;
	
	width: 100%;
	
	td {
		white-space: nowrap;
		height: 45px;
		vertical-align: middle;
	}
}

a.b-login {
	color: #fff;
	font-size: 1.1rem;
	text-decoration: none;
	background: url(../img/b-header-login.png) 0 center no-repeat;
	padding-left: 15px;
	margin-right: 5px;
}

a.b-header-mail-link {
	color: #fff;
	font-size: 1.1rem;
	text-decoration: none;
	background: url(../img/b-header-mail.png) right -44px no-repeat;
	padding-right: 28px;	
	margin-right: 5px;
	position:relative;
	top: 2px;
	
	

	
	ins {
		text-decoration: none;
		@media @desktop-mini {
			display: none;
		}
	}	
	
	.b-header-mail-link__messages {
		position:absolute;
		display: block;
		right: -10px;
		top: -10px;
		z-index: 100;
		font-size: 0.8rem;
		background: #ff5400;
		padding: 2px 2px 1px 1px;
		border-radius: 3px;
		box-shadow: 1px 1px 3px 0px #566d1f;
	}
	
}

.b-header-logined {
	a.b-header-mail-link {
		background-position: right 0;
	}
}



.b-header-authorize__mail-td {
	width: 1%; 
	white-space: nowrap; 
	
	padding-right: 10px; 
	padding-left: 10px;
	
	@media @tablet {
		padding-left: 5px;
		padding-right: 5px;	
	}	
}

.b-header-authorize__user {
	padding-left: 10px;
}


.b-header-authorize__mail-td.active,
.b-header-authorize__user.active {
	background: #a0bc60; 
}


.b-header-social-ico {
	position:relative;
	top: 3px;
	margin: 0 3px 0 0;
}

/**/

.b-header-logined {
	width: 100%;
	
	td {
		height: 45px;
		vertical-align: middle;	
	}
}

a.b-user-logined {
	position:relative;
	padding-left: 25px;
	color: #fff;
	text-decoration: none;
	font-size: 1.1rem;
	
		.b-user-logined__pic {
			display: block;
			position:absolute;
			max-width: 20px;
			max-height: 20px;
			left: 0px;
			top: -3px;
			box-shadow: 0 0 3px #8fa856;
		}
}

.b-header-logined-ellipsed {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 88%;
	white-space: nowrap;
	color: #fff;
}




/**/



.b-proposal-mail {
	background: #f4f4f4;
	font-size: 1rem;
	line-height: 1.1rem;
	margin-top: -20px;
	padding: 20px 10px 8px;
	margin-bottom: 10px;
}

.b-proposal-mail__text {
	margin-top: 5px;
	.b-text_color_green;
}


/**/
.userToolsSprite {
	background: url(../img/user-tools-sprite.png) 0 0 no-repeat;
}


.b-pannel-logined-user {
	background: #f4f4f4;
	margin-top: -20px;
	margin-bottom: 10px;
	padding: 20px 10px 8px;
	font-size: 1rem;
	
	a {
		position:relative;
	}
	
}

.b-pannel-logined-user__bottom {
	padding-bottom: 3px;
	padding-left: 26px;
	position:relative;
}

.b-link_icon_my-blog,
.b-link_icon_friends-feed,
.b-link_icon_events {
	margin-left: 26px;
}

.b-link_icon_my-blog:before {
	content: '';
	position:absolute;
	display: block;
	width: 13px;
	height: 11px;
	top: 50%;
	margin-top: -5px;
	.userToolsSprite;
}
.b-link_icon_friends-feed:before {
	content: '';
	position:absolute;
	display: block;
	width: 15px;
	height: 10px;
	top: 50%;
	margin-top: -5px;
	.userToolsSprite;	
	background-position: 0 -25px;
}

.b-link_icon_events:before {
	content: '';
	position:absolute;
	display: block;
	width: 15px;
	height: 12px;
	top: 50%;
	margin-top: -6px;
	.userToolsSprite;	
	background-position: 0 -48px;
}
.b-pannel-logined-user__karma {
	position:relative;
	color: #808080;
	display: inline-block;
	width: 70px;
	text-align: center;
	
	@media @desktop-mini {
		position: absolute;
		right: 0px;
	}		
	
}

.b-pannel-logined-user__karma__label {
	text-decoration: none;
	display: inline;
	
	@media @desktop-mini {
		display: none;
	}		
}

.b-pannel-logined-user__karma__ico {
	position:absolute;
	left: 0px;
	top: -25px;
	width: 70px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #84a830;
	text-decoration: none;
	cursor: default;
	
}



/**/

.b-text {
	font-size: 0.95rem;
	line-height: 1.4rem;
	margin-bottom: 0.6rem;
	
	
}

.b-text_color_grey {
	color: #808080;
	
	a {
		color: #000000;
		border-bottom: 1px solid #b2b2b2;
		text-decoration: none;

	}
}

.b-text_color_green {
	color: #405b01;
	
	a {
		color: #000000;
		border-bottom: 1px solid #b2b2b2;
		text-decoration: none;

	}
}


.b-text_layout_cluodtag {
	color: #7f7f7f;
	font-size: 1rem;
	
	a {	
		color: #007899;
		text-decoration: none;
		border-bottom: 1px solid #b2d6e0;	
		
		&:hover {
			border-bottom: 1px solid #ffcbb2;	
			color: #ff5400;
		}
	}

	
}


/**/

	
	
.b-icon {
	display: inline-block;
}
.b-icon_layout_whear-icon {
	position: relative;
	width: 35px;
    height: 26px;
    left: 0;
	top: 8px;
	background:url(../img/v5-weather-icons.png) 0 0 no-repeat;
	margin-left: 4px;
}
.b-icon_img_weather-0 {
	background-position:0 0;
}
.b-icon_img_weather-1 {
	background-position:0 -26px;
}
.b-icon_img_weather-2 {
	background-position:0 52px;
}



.b-text_color_black {
	color: #000;
}

/**/

.b-text-valute {
	color: #000;
	white-space: nowrap;
	position:relative;
	cursor: default;
	
	.b-text-valute-more {
		position: absolute;
		top: 11px;
		left: 4px;
		font-size: 10px;
		text-decoration: none;
		visibility: hidden;
	}
	
	&:hover .b-text-valute-more {
		visibility: visible;
	}
	
}

.b-text-valute_dinamic_down {
	.b-text-valute-more {
		color: #ff5400;
	}
}

.b-text-valute_dinamic_up {
	.b-text-valute-more {
		color: #6e9514;
	}
}


.b-text-valute_dinamic_down:after {
	content: '';
	background: url(../img/valute-dinamic.png);
	width: 7px;
	height: 7px;
	display: inline-block;
	margin-left: 2px;
	position:relative;
	top: -1px;
}
.b-text-valute_dinamic_up:after {
	content: '';
	background: url(../img/valute-dinamic.png) 0 -9px;
	width: 7px;
	height: 7px;
	display: inline-block;
	margin-left: 2px;
	position:relative;
	top: -1px;	
}

/**/


a.b-text-ad {
	display: block;
	clear: both;
	height: 110px;
	width: 100%;
	background-position:center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position:relative;
	color: #fff;
	text-decoration: none;
	font-size: 0.95rem;
	border: none;
	margin-bottom: 20px;
	margin-top: 7px;
	
	&:hover {
		text-decoration: none;
		border: none;
		color: #fff;
	}
	
	ins {
		text-decoration: none;
		border: none;		
	}
	
	.b-text-ad__shadow {
		display: block;
		position:absolute;
		width: 100%;
		background: url(../img/b-news-gradient.png) 0 bottom repeat-x;
		height: 100%;		
	}
	
	&:hover {
		.b-text-ad__shadow {
			opacity: 0.85;
		}
	}
	
}

.b-ad-btn {
	&:hover {
		animation: myfirst 5s linear 2s infinite alternate;
	}

}

.b-text-ad__title {
	position:absolute;
	bottom: 0px;
	padding: 5px 5px 1px;
	font-weight: bold;
}

/**/

.b-afisha-main {
	margin-bottom: 5px;
}

.b-afisha__item {
	display: block;
	height: 69px;
	position:relative;
	background-position: center bottom; 
	margin-top: 1%;
	width: 49%;
	display: inline-block;
	
	.b-afisha-item__shadow {
		display: block;
		position:absolute;
		width: 100%;
		background: url(../img/b-news-gradient-small.png) 0 0 repeat-x;
		height: 100%;
	}

	&:hover {
		.b-afisha-item__shadow {
			opacity: 0.85;
		}
	}
	
}

.b-afisha__item_size_big {
	height: 120px;
	width: 100%;
	margin-top: 2px;
	
	.b-afisha-item__shadow {
		background: url(../img/b-news-gradient.png) 0 0 repeat-x;
	}
}

.b-afisha-main__label {
	position:absolute;
	color: #fff;
	top: 0px;

	font-size: 0.75rem;
	left: 0px;
	display: block;
	text-decoration: none;
	padding: 0 3px 2px;
	
	background: #7db200;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iIzY3OTMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTY3MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7db200 0%, #679300 47%, #4a6700 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db200), color-stop(47%,#679300), color-stop(100%,#4a6700));
	background: -webkit-linear-gradient(top,  #7db200 0%,#679300 47%,#4a6700 100%);
	background: -o-linear-gradient(top,  #7db200 0%,#679300 47%,#4a6700 100%);
	background: -ms-linear-gradient(top,  #7db200 0%,#679300 47%,#4a6700 100%);
	background: linear-gradient(to bottom,  #7db200 0%,#679300 47%,#4a6700 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db200', endColorstr='#4a6700',GradientType=0 );
		
}

.b-afisha__item_count_last {
	float: right;
}


.b-afisha-main__title {
	position:absolute;
	padding: 5px 8px 5px;
	bottom: 0px;
	left: 0px;
	font-size: 0.85rem;
	color: #fff;
	display: block;
}


.b-afisha__item_size_big {

	.b-afisha-main__title {
		position:absolute;
		padding: 8px;
		bottom: 0px;
		left: 0px;
		font-size: 1rem;
		color: #fff;
		display: block;
		
		.b-afisha-main__deails {
			font-size: 0.85rem;
			color: #808080;
			display: block;
			margin-top: 2px;
		}
		
	}
}

/**/

@left_afisha_padding: 36px;

.b-tele-afisha {
	font-size: 0.95rem;
	line-height: 1.4rem;
}

.b-tele-afisha-row {
	position:relative;
	padding-left: @left_afisha_padding;
	padding-right: 20px;
	margin-bottom: 6px;
	
	a {
		color: #007899;
		text-decoration: none;
		border-bottom: 1px solid #B2D6E0;
		
		&:hover {
			border-bottom: 1px solid #FFCBB2;
			color: #FF5400;
		}
	}
	
	a.b-tele-afisha__link {
		margin-right: 10px;
	}
	
	a.b-tele-afisha__channel {
		border: none;
		display: inline-block;
		vertical-align: middle;
		
		img {
			display: block;
		}
	}
}

.b-tele-afisha__time {
	color: #7e7e7e;
	text-decoration: none;
	font-size: 0.8rem;
	position:absolute;
	left: 0px;
	top: 1px;
	width: 28px;
	text-align: right;
}

a.b-tele-afisha-link-more {
	font-size: 0.85rem;
	position:relative;
	outline: none;
	left: @left_afisha_padding;
	
		color: #007899;
		text-decoration: none;
		border-bottom: 1px dotted #B2D6E0;
		
		&:hover {
			border-bottom: 1px dotted #FFCBB2;
			color: #FF5400;
		}
}


/**/

.b-blog-list {
	
	li {
		font-size: 1rem;
		line-height: 1.4rem;
		margin-bottom: 4px;
		
		
		.b-comments {
			font-size: 0.85rem;
			color: #808080;
			
		}
		
		.b-comments__count {
			text-decoration: none;
		}
		
		.b-comments__count__big {
			color: #ff5400;
			text-decoration: none;
		}
		
	}
}


a.b-link_border_yes {
	text-decoration: none;
	border-bottom: 1px solid #aacfd9;
	
	&:hover {
		border-bottom: 1px solid #f7c4aa;
		color: #ff5400;
	}
}



a.b-link_color_green {
	color: #6a8e16;
	
	&:hover {
		color: #ff5400;
	}
}

a.b-link_color_grey {
	color: #808080;
	
	&:hover {
		color: #ff5400;
		text-decoration: underline;
	}
}


a.b-link_color_green.b-link_border_yes {
	text-decoration: none;
	border-bottom: 1px solid #d2ddb9;
	
	&:hover {
		border-bottom: 1px solid #FFCBB2;
		color: #FF5400;
	}
}


a.b-link_color_black {
	color: #000;
	&:hover {
		color: #ff5400;
	}
	
}

a.b-link_color_black.b-link_border_yes {
	text-decoration: none;
	border-bottom: 1px solid #b2b2b2;
	
	&:hover {
		border-bottom: 1px solid #FFCBB2;
		color: #FF5400;
	}
}

a.b-link_color_orange {
	color: #ff5400;
	
	&:hover {
		color: #ff5400;
	}
}

a.b-link_color_orange.b-link_border_yes {
	text-decoration: none;
	border-bottom: 1px solid #f7c4aa;
	
	&:hover {
		border-bottom: 1px solid #FFCBB2;
		color: #FF5400;
	}
}


.simple-link {
	color: #007899;
	text-decoration: none;
	border-bottom: 1px solid #B2D6E0;
		
	&:hover {
		color: #FF5400;
		border-bottom: 1px solid #FFCBB2;
	}
}

.orange-link {
	color: #ff5400;
	text-decoration: none;
	border-bottom: 1px solid #FFCBB2;
		
	&:hover {
		color: #FF5400;
		border-bottom: 1px solid #FFCBB2;
	}
}



/**/

a.b-username {
	position:relative;
	margin-left: 15px;
	.simple-link;
}

.username_sex_icon {
	content:'';
	display: block;
	width: 10px;
	height: 10px;
	left: -12px;
	top: 50%;
	margin-top: -4px;
	position:absolute;
}

.b-username_sex_male:before {
	background: url(../img/user-m_off.gif) 0 0 no-repeat;
	.username_sex_icon;
}

.b-username_sex_female:before {
	background: url(../img/user-f_off.gif) 0 0 no-repeat;
	.username_sex_icon;
}

.b-username_sex_male.b-username_status_online:before {
	background: url(../img/user-m.gif) 0 0 no-repeat;
}
.b-username_sex_female.b-username_status_online:before {
	background: url(../img/user-f.gif) 0 0 no-repeat;
}

/**/

a.b-foto-konkurs {
	font-size: 1rem;
	float: right;
	margin-right: 34px;
	position:relative;
	margin-top: 9px;
	
	outline: none;
	.orange-link;
}

.b-foto-konkurs:after {
	content: '';
	position: absolute;
	right: -29px;
	top: 50%;
	margin-top: -12px;
	display: block;
	width: 24px;
	height: 21px;
	background: url(../img/zmey.png) 0 0 no-repeat;
}
/**/

.b-user-fotos {
	width: 100%;
	font-size: 1rem;
	margin-top: 10px;
	td {
		border-right: 1px solid #fff;
	
		img {
			display: block;
			width: 100%;
			margin-bottom: 3px;
		}
	}


}



a.b-ad-btn {
	display: inline-block;
	
	border: 1px solid #9abc4c;
	outline: none;
	vertical-align: text-bottom;
	margin-left: 4px;
	overflow: hidden;
	 width: 18px;
	 height: 18px;	
	 text-decoration: none;
	 
	 margin-right: -100%;
	
	b {
		background: #9abc4c;
		display: inline-block;
		font-size: 18px;
		color: #fff;
		height: 18px;
		line-height: 18px;		
		 vertical-align: top;
		 width: 18px;
		 height: 18px;	
		 text-align: center;
		 font-family: @important-font;
		 font-weight: bold;
	}
	
	ins {
		color: #4c6c00;
		font-size: 11px;
		padding: 0 8px;
		display: inline-block;
		background: #fff;
		height: 18px;
		line-height: 18px;
		text-decoration: none;
		 vertical-align: top;
		 position:relative;
		 
	}
}

















/**/

.css-inline-block {
	display: inline-block;
}













/**/

.b-user-last-comment {
	position:relative;
	width:auto;
	left:0;	
	top:0em;
	float:left;
}

.b-user-last-comment__frame{
	position:relative;
	padding: 0px 0 23px;
	overflow: hidden;
}

.b-user-last-comment__frame ul {
	background-color:#FFF;
}

.b-user-last-comment__content {
	
	padding: 0px 0px 0px 0px;
	position:relative;
	overflow:hidden;
	z-index:10;
}

.b-user-last-comment__frame .blc-cn{
	position:absolute;
	width:12px;
	height:23px;
	left:-12px;
	top:-23px;
}

.b-user-last-comment__frame .blc-cn.blc-tr, 
.b-user-last-comment__frame .blc-cn.blc-br {
	margin-left:100%;
}

.b-user-last-comment__frame .blc-cn.blc-bl, 
.b-user-last-comment__frame .blc-cn.blc-br {
	top:auto;
}

.b-user-last-comment__frame .blc-cn{
	background:url(../img/r-star2.png);
}

.b-user-last-comment__frame .blc-cn.blc-tl, 
.b-user-last-comment__frame .blc-cn.blc-bl {
	width:100%;
} 

.b-user-last-comment__left-line {
	background:url(../img/r-star2-l.png);
	position:absolute;
	left:0px;
	top:0px;
	width:12px;
	height:800px;
}

.b-user-last-comment__right-line {
	background:url(../img/r-star2-r.png);
	position:absolute;
	right:0px;
	top:0px;
	width:12px;
	height:800px;
}





/* new clearfix */
.context:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.align_center {
	text-align: center;
}

.float_none {
	float: none;
}