@import (less) url('../../../reset.css/reset.css');
@import (less) url('../../../fonts/ALSRubl.css');
@import (less) url('../../../blocks/link/css/link.css');
@import (less) url('../../../blocks/icon/css/icon.less');
@import (less) url('../../../blocks/info-table/css/info-table.css');
@import (less) url('../../../newMain/css/less/blocks/button/css/button.css');

.realty-score {
  font-size: 13px;

  position: fixed;
  top: 20px;
  left: 20px;

  width: 340px;
  padding-bottom: 5px;

  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.realty-score_info {
  top: 190px;
}

.realty-score__header {
  font-size: 22px;
  line-height: 40px;

  height: 40px;
  padding: 0 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: #fff;
  border-radius: 6px 6px 0 0;
  background-color: #5e8816;
}

.realty-score_info .realty-score__header {
  font-size: 17px;

  position: relative;
}

.realty-score_info .realty-score__header:after {
  position: absolute;
  top: -10px;
  left: 50%;

  display: block;

  width: 0;
  height: 0;
  margin-left: -10px;

  content: '';

  border-right: 10px solid transparent;
  border-bottom: 11px solid #5e8816;
  border-left: 10px solid transparent;
}

.realty-score__form {
  padding: 20px 10px 15px;
}

.realty-score__score {
  font-size: 22px;

  padding: 0 10px 10px;
}

.realty-score__info {
  margin-bottom: 10px;
  margin-left: 10px;
}

.realty-score__social {
  font-size: 22px;

  float: right;

  margin-right: 10px;
}

.realty-score__title {
  float: left;
}

.realty-score__logo {
  float: right;

  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 24px;
  margin-top: 8px;
}

.realty-score__label {
  font-size: 12px;

  display: block;

  margin-top: -5px;
  margin-bottom: 5px;
  padding-left: 7px;

  color: #999;
}

.realty-score__input {
  font-size: 14px;
  line-height: 27px;

  box-sizing: border-box;
  width: 175px;
  height: 27px;
  margin-right: 7px;
  padding: 0 5px;

  vertical-align: bottom;
}

.realty-score__points {
  color: #ff5b37;
}

.realty-score__info-title {
  font-size: 15px;

  margin: 25px 10px 15px;
}

.realty-score__header + .realty-score__info-title {
  margin-top: 15px;
}

.realty-score__info-label {
  display: inline-block;

  width: 105px;
  margin-left: 10px;
}

.realty-score__data {
  font-size: 14px;

  margin-right: 5px;
}

.realty-score__extra {
  font-size: 11px;

  text-decoration: none;

  color: #bbb;
  border-bottom: 1px solid #eee;
}

.realty-score__extra:hover {
  border-bottom-color: #fed3e0;
}

.realty-score .icon {
  font-size: 18px;
  line-height: 24px;

  margin-left: 5px;
}

.realty-score .icon_facebook {
  font-size: 19px;
}
