.b-yacard-popup-exchange {
	padding: 18px;
	padding-top:3px;
	padding-bottom: 5px;
	line-height: 20px;
	width: 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-yacard-popup-exchange__label {
	font-size:  14px;
	font-weight: normal;
}
.b-yacard-popup-exchange__title {
	font-size:  14px;
	font-weight: bold;
}
.b-yacard-popup-exchange-converter {
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-top: 12px;
	
	.b-valute-converter__input {
		font-size: 14px;
		padding: 2px 0;
		width: 75px;		
		text-indent: 3px;
		text-align:right;
	}
	
	.b-valute-converter-more .b-more__elem {
		margin-bottom: 0px;
	}
	
	.b-valute-converter-more .b-more__visible {
		font-size: 14px;
		color: #507300;
	}
	
	.b-more__visible:after {
		display: none;
	}
	
	.b-valute-converter__result  {
		font-size:	14px;
	}
	

	.b-valute-converter__row td {
		border-bottom: none;
		padding-left: 0px;
	}
	
	.b-valute-converter__row td.b-valute-converter__gap {
		padding-left: 8px;
	}
	
	.b-valute-converter__gap .b-valute-converter-more {
		top:0px;
		padding-right: 0;
		border-color-bottom:red;
	}
	
	.b-valute-converter__switch {
		margin: 0;
		height: 25px;
		width: 40px;
		background-position: -4px -64px;
	}
	
	.b-valute-converter__switch:hover {
		background-position: -4px -89px;
	}
	
	.b-valute-converter-more a.b-more__visible,
	.b-valute-converter-more a.b-more__visible:hover	{
		border-bottom: 1px dotted #507300;
	}

}

.b-yacard-popup-exchange__text {
	min-height: 60px;
}

.b-yacard-popup-exchange__text p {
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 8px;
}
