@import (less) '../../../fonts/PT Sans Narrow.css';
@import (less) '../../../newMain/css/less/global/_viewports.less';
@import (less) '../../../newMain/css/less/blocks/b-goods-tile/css/b-goods-tile.css';
@import (less) '../../../newMain/css/less/blocks/button/css/button.css';
@import (less) '../../../newMain/css/less/blocks/b-news-item/css/b-news-item.css';

html {
	font-size: 13px;
}

.d-half {
	float: left;

	width: 46%;
	margin-right: 20px;
	margin-left: 10px;
}

.d-h2 {
	font-family: PT Sans Narrow, Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;

	margin-top: 20px;
	margin-bottom: 10px;
}

.d-hyphotec {
	padding: 10px;
	padding-bottom: 0;

	background-color: #e9efdc;
}

.d-hyphotec__field {
	float: left;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 15px;

	white-space: nowrap;
}

.d-hyphotec__field_type {
	width: 55%;
}

.d-hyphotec__field_term {
	width: 45%;
}

.d-hyphotec__field_cost {
	width: 38%;
}

.d-hyphotec__field_pay {
	width: 62%;
}

.d-hyphotec__label {
	font-size: 14px;

	display: block;
	overflow: hidden;

	max-width: 85%;
	margin-bottom: 5px;

	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.d-hyphotec__label_unit {
	display: inline;

	margin-left: .2em;
}

.d-hyphotec__field_type .d-hyphotec__label {
	// font-weight: bold;
}

.d-hyphotec__select {
	font-size: 14px;

	max-width: 90%;
}

.d-hyphotec__field_type .d-hyphotec__select {
	width: 85%;
}

.d-hyphotec__input {
	font-size: 14px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 70%;
	max-width: 125px;
	height: 24px;
	padding-right: 5px;
	padding-left: 5px;

	text-align: right;
}

.d-hyphotec .button {
	font-size: 17px;

	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0 .5em;
}




.inf {
	margin-top: 40px;
	padding: 10px 10px;

	background: none center center no-repeat transparent;
	background-image: url('../img/map-bg.jpg');
	background-size: 100%;
}

.inf__label {
	font-size: 14px;

	display: block;
	overflow: hidden;

	margin-bottom: 5px;
}

.inf__input {
	font-size: 14px;
	line-height: 27px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	height: 27px;
	margin-right: 10px;
	padding-right: 5px;
	padding-left: 5px;

	vertical-align: top;
}

.inf__notice {
	font-size: 11px;
	line-height: 14px;

	margin-top: 30px;
}

.inf .d-h2 {
	font-weight: bold;

	margin-top: 0;
	margin-bottom: 20px;
}

.realty-list {
	font-size: 14px;
	line-height: 18px;

	float: left;

	width: 30%;
}

.realty-list_wide {
	width: 40%;
}

.realty-list__elem {
	margin-bottom: 5px;
}

.realty-list__elem_split {
	float: left;

	width: 40%;
}

.realty-list__extra {
	font-size: 11px;

	margin-left: .5em;

	color: #afaeab;
}




.link {
	text-decoration: none;

	color: #107897;
	border-bottom: 1px solid #b8d7e0;
}

.link:hover {
	color: #fc551f;
	border-bottom: 1px solid #feccbc;
}
