@import (less) '../../../fonts/PT Sans Narrow.css';
@import (less) '../../../newMain/css/less/global/_viewports.less';
@import (less) '../../../newMain/css/less/blocks/b-goods-tile/css/b-goods-tile.css';
@import (less) '../../../newMain/css/less/blocks/button/css/button.css';
@import (less) '../../../newMain/css/less/blocks/b-news-item/css/b-news-item.css';

html {
	font-size: 13px;
}

.d-half {
	float: left;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	padding-right: 2%;
}

.d-half__wrap {
	padding-right: 10px;
	padding-left: 10px;
}

.d-h2 {
	font-family: PT Sans Narrow, Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 24px;
	line-height: 30px;

	// margin-top: 10px;
	margin-bottom: 20px;
}

.d-hyphotec {
	padding: 10px;
	padding-bottom: 0;

	background-color: #e9efdc;
}

.d-hyphotec__field {
	float: left;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 15px;

	white-space: nowrap;
}

.d-hyphotec__field_type {
	width: 55%;
}

.d-hyphotec__field_term {
	width: 45%;
}

.d-hyphotec__field_cost {
	width: 38%;
}

.d-hyphotec__field_pay {
	width: 62%;
}

.d-hyphotec__label {
	font-size: 14px;

	display: block;
	overflow: hidden;

	max-width: 85%;
	margin-bottom: 5px;

	text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.d-hyphotec__label_unit {
	display: inline;

	margin-left: .2em;
}

.d-hyphotec__field_type .d-hyphotec__label {
	// font-weight: bold;
}

.d-hyphotec__select {
	font-size: 14px;

	max-width: 90%;
}

.d-hyphotec__field_type .d-hyphotec__select {
	width: 85%;
}

.d-hyphotec__input {
	font-size: 14px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 70%;
	max-width: 125px;
	height: 24px;
	padding-right: 5px;
	padding-left: 5px;

	text-align: right;
}

.d-hyphotec .button {
	font-size: 15px;

	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0 .5em;
}




.inf {
	margin-top: 40px;
	padding: 10px 10px;

	background: none center center no-repeat transparent;
	background-image: url('../img/map-bg.jpg');
	background-size: 100%;
}

.inf__label {
	font-size: 14px;

	display: block;
	overflow: hidden;

	margin-bottom: 5px;
}

.inf__input {
	font-size: 14px;
	line-height: 27px;

	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	height: 27px;
	margin-right: 10px;
	padding-right: 5px;
	padding-left: 5px;

	vertical-align: top;
}

.inf__notice {
	font-size: 11px;
	line-height: 14px;

	margin-top: 30px;
}

.inf .d-h2 {
	font-weight: bold;

	margin-top: 0;
	margin-bottom: 20px;
}

.realty-list {
	font-size: 14px;
	line-height: 18px;

	float: left;

	width: 30%;
	margin-bottom: 10px;
}

.realty-list_wide {
	width: 40%;
}

.realty-list__elem {
	margin-bottom: 5px;

	white-space: nowrap;
}

.realty-list__elem_split {
	float: left;

	width: 40%;
}

.realty-list__extra {
	font-size: 11px;

	margin-left: .5em;

	color: #afaeab;
}




.link {
	text-decoration: none;

	color: #107897;
	border-bottom: 1px solid #b8d7e0;
}

.link:hover {
	color: #fc551f;
	border-bottom: 1px solid #feccbc;
}


.hr {
	width: 100%;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
}

.hr_gray {
	border: none;
	border-bottom: 1px solid #d7d6d5;
}



.realty-carousel {
	position: relative;

	margin-top: 20px;
	margin-bottom: 15px;
	padding: 10px;
	padding-bottom: 15px;
	// background-color: #f1f5e8;
}

.realty-carousel .d-h2 {
	margin-top: 0;
	margin-bottom: 20px;
}

.realty-carousel .b-goods-tile__row {
	margin-bottom: 0;
}

.realty-carousel__button {
	position: absolute;
	z-index: 2;
	bottom: 15px;

	display: none;

	width: 16px;
	height: 80px;

	cursor: pointer;

	background: none center no-repeat #c8d6a8;
	background-size: 6px auto;
}

.realty-carousel__button:hover {
	background-color: #d2dfb8;
}

.realty-carousel__button_prev {
	display: none;
}

.realty-carousel__button_next {
	right: 20px;

	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNSIgdmlld0JveD0iMCAwIDggMTUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiPjx0aXRsZT50cmlhbmdsZSBhcnJvdzwvdGl0bGU+PHBhdGggZD0iTS41IDE0LjV2LTE0bDcgNy03IDd6IiBmaWxsPSIjZmZmIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIi8+PC9zdmc+');
}

.realty-carousel .b-goods-tile__row {
	overflow: hidden;

	height: 80px;
}
