.grid {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 96.09%;
}

.grid:before,
.grid:after {
	display: block;
	clear: both;
	content: '';
}

.grid__module_first_yes {
	clear: left;
}

.grid__module {
	position: relative;
	float: left;
}

.grid__module_span_1 {
	margin-right: -20%;
	width: 20%;
}

.grid__module_col_1 {
	left: 0%;
}

.grid__module_span_2 {
	margin-right: -40%;
	width: 40%;
}

.grid__module_col_2 {
	left: 20%;
}

.grid__module_span_3 {
	margin-right: -60%;
	width: 60%;
}

.grid__module_col_3 {
	left: 40%;
}

.grid__module_span_4 {
	margin-right: -80%;
	width: 80%;
}

.grid__module_col_4 {
	left: 60%;
}

.grid__module_span_5 {
	margin-right: -100%;
	width: 100%;
}

.grid__module_col_5 {
	left: 80%;
}

.grid__module_span_6 {
	margin-right: -120%;
	width: 120%;
}

.grid__module_col_6 {
	left: 100%;
}

.grid__module_span_7 {
	margin-right: -140%;
	width: 140%;
}

.grid__module_col_7 {
	left: 120%;
}

.grid__module_span_8 {
	margin-right: -160%;
	width: 160%;
}

.grid__module_col_8 {
	left: 140%;
}

.grid__module_span_9 {
	margin-right: -180%;
	width: 180%;
}

.grid__module_col_9 {
	left: 160%;
}

.grid__module_span_10 {
	margin-right: -200%;
	width: 200%;
}

.grid__module_col_10 {
	left: 180%;
}

.grid__module_span_11 {
	margin-right: -220%;
	width: 220%;
}

.grid__module_col_11 {
	left: 200%;
}

.grid__module_span_12 {
	margin-right: -240%;
	width: 240%;
}

.grid__module_col_12 {
	left: 220%;
}

.grid__module_span_13 {
	margin-right: -260%;
	width: 260%;
}

.grid__module_col_13 {
	left: 240%;
}

.grid__module_span_14 {
	margin-right: -280%;
	width: 280%;
}

.grid__module_col_14 {
	left: 260%;
}

.grid__module_span_15 {
	margin-right: -300%;
	width: 300%;
}

.grid__module_col_15 {
	left: 280%;
}

.grid__module_span_16 {
	margin-right: -320%;
	width: 320%;
}

.grid__module_col_16 {
	left: 300%;
}

.grid__module_span_17 {
	margin-right: -340%;
	width: 340%;
}

.grid__module_col_17 {
	left: 320%;
}

.grid__module_span_18 {
	margin-right: -360%;
	width: 360%;
}

.grid__module_col_18 {
	left: 340%;
}

.grid__module_span_19 {
	margin-right: -380%;
	width: 380%;
}

.grid__module_col_19 {
	left: 360%;
}

.grid__module_span_20 {
	margin-right: -400%;
	width: 400%;
}

.grid__module_col_20 {
	left: 380%;
}

.grid__module_span_21 {
	margin-right: -420%;
	width: 420%;
}

.grid__module_col_21 {
	left: 400%;
}

.grid__module_span_22 {
	margin-right: -440%;
	width: 440%;
}

.grid__module_col_22 {
	left: 420%;
}

.grid__module_span_23 {
	margin-right: -460%;
	width: 460%;
}

.grid__module_col_23 {
	left: 440%;
}

.grid__module_span_24 {
	margin-right: -480%;
	width: 480%;
}

.grid__module_col_24 {
	left: 460%;
}

.grid__module_span_25 {
	margin-right: -500%;
	width: 500%;
}

.grid__module_col_25 {
	left: 480%;
}

.grid__module_span_26 {
	margin-right: -520%;
	width: 520%;
}

.grid__module_col_26 {
	left: 500%;
}

.grid__module_span_27 {
	margin-right: -540%;
	width: 540%;
}

.grid__module_col_27 {
	left: 520%;
}

.grid__module_span_28 {
	margin-right: -560%;
	width: 560%;
}

.grid__module_col_28 {
	left: 540%;
}

.grid__module_span_29 {
	margin-right: -580%;
	width: 580%;
}

.grid__module_col_29 {
	left: 560%;
}

.grid__module_span_30 {
	margin-right: -600%;
	width: 600%;
}

.grid__module_col_30 {
	left: 580%;
}

.grid__module_span_31 {
	margin-right: -620%;
	width: 620%;
}

.grid__module_col_31 {
	left: 600%;
}

.grid__module_span_32 {
	margin-right: -640%;
	width: 640%;
}

.grid__module_col_32 {
	left: 620%;
}

.grid__module_span_33 {
	margin-right: -660%;
	width: 660%;
}

.grid__module_col_33 {
	left: 640%;
}

.grid__module_span_34 {
	margin-right: -680%;
	width: 680%;
}

.grid__module_col_34 {
	left: 660%;
}

.grid__module_span_35 {
	margin-right: -700%;
	width: 700%;
}

.grid__module_col_35 {
	left: 680%;
}

.grid__module_span_36 {
	margin-right: -720%;
	width: 720%;
}

.grid__module_col_36 {
	left: 700%;
}

.grid__module_span_37 {
	margin-right: -740%;
	width: 740%;
}

.grid__module_col_37 {
	left: 720%;
}

.grid__module_span_38 {
	margin-right: -760%;
	width: 760%;
}

.grid__module_col_38 {
	left: 740%;
}

.grid__module_span_39 {
	margin-right: -780%;
	width: 780%;
}

.grid__module_col_39 {
	left: 760%;
}

.grid__module_span_40 {
	margin-right: -800%;
	width: 800%;
}

.grid__module_col_40 {
	left: 780%;
}

.grid__module_span_41 {
	margin-right: -820%;
	width: 820%;
}

.grid__module_col_41 {
	left: 800%;
}

.grid__module_span_42 {
	margin-right: -840%;
	width: 840%;
}

.grid__module_col_42 {
	left: 820%;
}

.grid__module_span_43 {
	margin-right: -860%;
	width: 860%;
}

.grid__module_col_43 {
	left: 840%;
}

.grid__module_span_44 {
	margin-right: -880%;
	width: 880%;
}

.grid__module_col_44 {
	left: 860%;
}

.grid__module_span_45 {
	margin-right: -900%;
	width: 900%;
}

.grid__module_col_45 {
	left: 880%;
}

.grid__module_span_46 {
	margin-right: -920%;
	width: 920%;
}

.grid__module_col_46 {
	left: 900%;
}

.grid__module_span_47 {
	margin-right: -940%;
	width: 940%;
}

.grid__module_col_47 {
	left: 920%;
}

.grid__module_span_48 {
	margin-right: -960%;
	width: 960%;
}

.grid__module_col_48 {
	left: 940%;
}

.grid__module_span_49 {
	margin-right: -980%;
	width: 980%;
}

.grid__module_col_49 {
	left: 960%;
}

.grid__module_span_50 {
	margin-right: -1000%;
	width: 1000%;
}

.grid__module_col_50 {
	left: 980%;
}

.grid__module_span_51 {
	margin-right: -1020%;
	width: 1020%;
}

.grid__module_col_51 {
	left: 1000%;
}

.grid__module_span_52 {
	margin-right: -1040%;
	width: 1040%;
}

.grid__module_col_52 {
	left: 1020%;
}

.grid__module_span_53 {
	margin-right: -1060%;
	width: 1060%;
}

.grid__module_col_53 {
	left: 1040%;
}

.grid__module_span_54 {
	margin-right: -1080%;
	width: 1080%;
}

.grid__module_col_54 {
	left: 1060%;
}

.grid__module_span_55 {
	margin-right: -1100%;
	width: 1100%;
}

.grid__module_col_55 {
	left: 1080%;
}

.grid__module_span_56 {
	margin-right: -1120%;
	width: 1120%;
}

.grid__module_col_56 {
	left: 1100%;
}

.grid__module_span_57 {
	margin-right: -1140%;
	width: 1140%;
}

.grid__module_col_57 {
	left: 1120%;
}

.grid__module_span_58 {
	margin-right: -1160%;
	width: 1160%;
}

.grid__module_col_58 {
	left: 1140%;
}

.grid__module_span_59 {
	margin-right: -1180%;
	width: 1180%;
}

.grid__module_col_59 {
	left: 1160%;
}

.grid__module_span_60 {
	margin-right: -1200%;
	width: 1200%;
}

.grid__module_col_60 {
	left: 1180%;
}

.grid__module_span_61 {
	margin-right: -1220%;
	width: 1220%;
}

.grid__module_col_61 {
	left: 1200%;
}

.grid__module_span_62 {
	margin-right: -1240%;
	width: 1240%;
}

.grid__module_col_62 {
	left: 1220%;
}

.grid__module_span_63 {
	margin-right: -1260%;
	width: 1260%;
}

.grid__module_col_63 {
	left: 1240%;
}

.grid__module_span_64 {
	margin-right: -1280%;
	width: 1280%;
}

.grid__module_col_64 {
	left: 1260%;
}

.grid__module_span_65 {
	margin-right: -1300%;
	width: 1300%;
}

.grid__module_col_65 {
	left: 1280%;
}

.grid__module_span_66 {
	margin-right: -1320%;
	width: 1320%;
}

.grid__module_col_66 {
	left: 1300%;
}

.grid__module_span_67 {
	margin-right: -1340%;
	width: 1340%;
}

.grid__module_col_67 {
	left: 1320%;
}

.grid__module_span_68 {
	margin-right: -1360%;
	width: 1360%;
}

.grid__module_col_68 {
	left: 1340%;
}

.grid__module_span_69 {
	margin-right: -1380%;
	width: 1380%;
}

.grid__module_col_69 {
	left: 1360%;
}

.grid__module_span_70 {
	margin-right: -1400%;
	width: 1400%;
}

.grid__module_col_70 {
	left: 1380%;
}

.grid__module_span_71 {
	margin-right: -1420%;
	width: 1420%;
}

.grid__module_col_71 {
	left: 1400%;
}

.grid__module_span_72 {
	margin-right: -1440%;
	width: 1440%;
}

.grid__module_col_72 {
	left: 1420%;
}

.grid__module_span_73 {
	margin-right: -1460%;
	width: 1460%;
}

.grid__module_col_73 {
	left: 1440%;
}

.grid__module_span_74 {
	margin-right: -1480%;
	width: 1480%;
}

.grid__module_col_74 {
	left: 1460%;
}

.grid__module_span_75 {
	margin-right: -1500%;
	width: 1500%;
}

.grid__module_col_75 {
	left: 1480%;
}

.grid__module_span_76 {
	margin-right: -1520%;
	width: 1520%;
}

.grid__module_col_76 {
	left: 1500%;
}

.grid__module_span_77 {
	margin-right: -1540%;
	width: 1540%;
}

.grid__module_col_77 {
	left: 1520%;
}

.grid__module_span_78 {
	margin-right: -1560%;
	width: 1560%;
}

.grid__module_col_78 {
	left: 1540%;
}

.grid__module_span_79 {
	margin-right: -1580%;
	width: 1580%;
}

.grid__module_col_79 {
	left: 1560%;
}

.grid__module_span_80 {
	margin-right: -1600%;
	width: 1600%;
}

.grid__module_col_80 {
	left: 1580%;
}

.grid__module_span_81 {
	margin-right: -1620%;
	width: 1620%;
}

.grid__module_col_81 {
	left: 1600%;
}

.grid__module_span_82 {
	margin-right: -1640%;
	width: 1640%;
}

.grid__module_col_82 {
	left: 1620%;
}

.grid__module_span_83 {
	margin-right: -1660%;
	width: 1660%;
}

.grid__module_col_83 {
	left: 1640%;
}

.grid__module_span_84 {
	margin-right: -1680%;
	width: 1680%;
}

.grid__module_col_84 {
	left: 1660%;
}

.grid__module_span_85 {
	margin-right: -1700%;
	width: 1700%;
}

.grid__module_col_85 {
	left: 1680%;
}

.grid__module_span_86 {
	margin-right: -1720%;
	width: 1720%;
}

.grid__module_col_86 {
	left: 1700%;
}

.grid__module_span_87 {
	margin-right: -1740%;
	width: 1740%;
}

.grid__module_col_87 {
	left: 1720%;
}

.grid__module_span_88 {
	margin-right: -1760%;
	width: 1760%;
}

.grid__module_col_88 {
	left: 1740%;
}

.grid__module_span_89 {
	margin-right: -1780%;
	width: 1780%;
}

.grid__module_col_89 {
	left: 1760%;
}

.grid__module_span_90 {
	margin-right: -1800%;
	width: 1800%;
}

.grid__module_col_90 {
	left: 1780%;
}

.grid__module_span_91 {
	margin-right: -1820%;
	width: 1820%;
}

.grid__module_col_91 {
	left: 1800%;
}

.grid__module_span_92 {
	margin-right: -1840%;
	width: 1840%;
}

.grid__module_col_92 {
	left: 1820%;
}

.grid__module_span_93 {
	margin-right: -1860%;
	width: 1860%;
}

.grid__module_col_93 {
	left: 1840%;
}

.grid__module_span_94 {
	margin-right: -1880%;
	width: 1880%;
}

.grid__module_col_94 {
	left: 1860%;
}

.grid__module_span_95 {
	margin-right: -1900%;
	width: 1900%;
}

.grid__module_col_95 {
	left: 1880%;
}

.grid__module_span_96 {
	margin-right: -1920%;
	width: 1920%;
}

.grid__module_col_96 {
	left: 1900%;
}

.grid__module_span_97 {
	margin-right: -1940%;
	width: 1940%;
}

.grid__module_col_97 {
	left: 1920%;
}

.grid__module_span_98 {
	margin-right: -1960%;
	width: 1960%;
}

.grid__module_col_98 {
	left: 1940%;
}

.grid__module_span_99 {
	margin-right: -1980%;
	width: 1980%;
}

.grid__module_col_99 {
	left: 1960%;
}

.grid__module_span_100 {
	margin-right: -2000%;
	width: 2000%;
}

.grid__module_col_100 {
	left: 1980%;
}

.grid__module_span_101 {
	margin-right: -2020%;
	width: 2020%;
}

.grid__module_col_101 {
	left: 2000%;
}

.grid__module_span_102 {
	margin-right: -2040%;
	width: 2040%;
}

.grid__module_col_102 {
	left: 2020%;
}

.grid__module_span_103 {
	margin-right: -2060%;
	width: 2060%;
}

.grid__module_col_103 {
	left: 2040%;
}

.grid__module_span_104 {
	margin-right: -2080%;
	width: 2080%;
}

.grid__module_col_104 {
	left: 2060%;
}

.grid__module_span_105 {
	margin-right: -2100%;
	width: 2100%;
}

.grid__module_col_105 {
	left: 2080%;
}

.grid__module_span_106 {
	margin-right: -2120%;
	width: 2120%;
}

.grid__module_col_106 {
	left: 2100%;
}

.grid__module_span_107 {
	margin-right: -2140%;
	width: 2140%;
}

.grid__module_col_107 {
	left: 2120%;
}

.grid__module_span_108 {
	margin-right: -2160%;
	width: 2160%;
}

.grid__module_col_108 {
	left: 2140%;
}

.grid__module_span_109 {
	margin-right: -2180%;
	width: 2180%;
}

.grid__module_col_109 {
	left: 2160%;
}

.grid__module_span_110 {
	margin-right: -2200%;
	width: 2200%;
}

.grid__module_col_110 {
	left: 2180%;
}

.grid__module_span_111 {
	margin-right: -2220%;
	width: 2220%;
}

.grid__module_col_111 {
	left: 2200%;
}

.grid__module_span_112 {
	margin-right: -2240%;
	width: 2240%;
}

.grid__module_col_112 {
	left: 2220%;
}

.grid__module_span_113 {
	margin-right: -2260%;
	width: 2260%;
}

.grid__module_col_113 {
	left: 2240%;
}

.grid__module_span_114 {
	margin-right: -2280%;
	width: 2280%;
}

.grid__module_col_114 {
	left: 2260%;
}

.grid__module_span_115 {
	margin-right: -2300%;
	width: 2300%;
}

.grid__module_col_115 {
	left: 2280%;
}

.grid__module_span_116 {
	margin-right: -2320%;
	width: 2320%;
}

.grid__module_col_116 {
	left: 2300%;
}

.grid__module_span_117 {
	margin-right: -2340%;
	width: 2340%;
}

.grid__module_col_117 {
	left: 2320%;
}

.grid__module_span_118 {
	margin-right: -2360%;
	width: 2360%;
}

.grid__module_col_118 {
	left: 2340%;
}

.grid__module_span_119 {
	margin-right: -2380%;
	width: 2380%;
}

.grid__module_col_119 {
	left: 2360%;
}

.grid__module_span_120 {
	margin-right: -2400%;
	width: 2400%;
}

.grid__module_col_120 {
	left: 2380%;
}

.grid__module_span_121 {
	margin-right: -2420%;
	width: 2420%;
}

.grid__module_col_121 {
	left: 2400%;
}

.grid__module_span_122 {
	margin-right: -2440%;
	width: 2440%;
}

.grid__module_col_122 {
	left: 2420%;
}

.grid__module_span_123 {
	margin-right: -2460%;
	width: 2460%;
}

.grid__module_col_123 {
	left: 2440%;
}

.grid__module_span_124 {
	margin-right: -2480%;
	width: 2480%;
}

.grid__module_col_124 {
	left: 2460%;
}

.grid__module_span_125 {
	margin-right: -2500%;
	width: 2500%;
}

.grid__module_col_125 {
	left: 2480%;
}

.grid__module_span_126 {
	margin-right: -2520%;
	width: 2520%;
}

.grid__module_col_126 {
	left: 2500%;
}

.grid__module_span_127 {
	margin-right: -2540%;
	width: 2540%;
}

.grid__module_col_127 {
	left: 2520%;
}

.grid__module_span_128 {
	margin-right: -2560%;
	width: 2560%;
}

.grid__module_col_128 {
	left: 2540%;
}
