.b-separator {
	height: 1px;
	margin: 5px 0;
}
.b-separator_border_yes {
	background: @grey-bg;
}
.b-separator_border-color_orange {
	background: @orange-bg;
}
.b-separator-height (@separator: 1px) {
	height: @separator;
	margin: 0px;
}
.b-separator_height_2 {
	.b-separator-height(2px);
}
.b-separator_height_3 {
	.b-separator-height(3px);
}
.b-separator_height_4 {
	.b-separator-height(4px);
}
.b-separator_height_5 {
	.b-separator-height(5px);
}
.b-separator_height_7 {
	.b-separator-height(7px);
}
.b-separator_height_8 {
	.b-separator-height(8px);
}
.b-separator_height_10 {
	.b-separator-height(10px);
}
.b-separator_height_13 {
	.b-separator-height(13px);
}
.b-separator_height_14 {
	.b-separator-height(14px);
}
.b-separator_height_17 {
	.b-separator-height(17px);
}
.b-separator_height_18 {
	.b-separator-height(18px);
}
.b-separator_height_19 {
	.b-separator-height(19px);
}
.b-separator_height_20 {
	.b-separator-height(20px);
}
.b-separator_height_25 {
	.b-separator-height(25px);
}
.b-separator_height_35 {
	.b-separator-height(35px);
}

