@import (less) '../../../blocks/link/css/link.css';
@import (less) '../../../blocks/ad-elem/css/ad-elem.css';
@import (less) '../../../blocks/info-table/css/info-table.css';



.img-strap {
	overflow: hidden;

	margin-right: -10px;
	margin-left: -10px;

	white-space: nowrap;

	background: none left top repeat transparent;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEXw8PAAAAB+p+YsAAAAAnRSTlPMABHcVXoAAAAUSURBVAhbY2Sw38hIDP5/0IEYDADG0R11mWcHggAAAABJRU5ErkJggg==');
}

.img-strap__elem {
	display: inline-block;

	width: auto;
	height: 100%;
	padding-right: 1px;

	background-color: #fff;
}
