.b-pager {
	position:relative;
	margin: 40px 0 20px;
}

.b-pager a:link,
.b-pager a:visited,
.b-pager a:hover,
.b-pager a:active {
	border-bottom: 1px solid #88888a;
	text-decoration: none;
	color: #88888a;
}

.b-pager__left {
	position:absolute;
	top: -12px;
	left: 0px;
}
.b-pager__left__key,
.b-pager__right__key {
	margin-bottom: 6px;
	color: #898989;
	font-size: 13px;
}
.b-pager__left__key b,
.b-pager__right__key b {
	position:relative;
	top: -2px;
	font-size: 15px;
}
.b-pager__left__text,
.b-pager__right__text {
	font-size: 14px;
}

.b-pager__right {
	position:absolute;
	top: -12px;
	right: 0px;
}
.b-pager__right__key {
	text-align: right;
}

.b-pager__pad {
	padding: 0 100px;
}
.b-pager__pad:after {
    display: block;
    clear: both;
    content: '';
}
.b-pager__frame {
    position: relative;
	top: 8px;
    right: 50%;
    float: right;
}

.b-pager__frame ul {
    position: relative;
    right: -50%;
    float: right;
}

.b-pager ul:after {
    display: block;
    clear: both;
    content: "";
}

.b-pager__item {
	float: left;
	padding: 4px 10px 5px 10px;
	font-size: 14px;
}

.b-pager__item_index_first {
	padding-right: 2px;
}

.b-pager__item_state_current {
	margin: 0 3px;
	background: #ffa300;
	background: -moz-linear-gradient(top,  #ffa500 0%, #ff7200 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa500), color-stop(100%,#ff7200));
	background: -webkit-linear-gradient(top,  #ffa500 0%,#ff7200 100%);
	background: -o-linear-gradient(top,  #ffa500 0%,#ff7200 100%);
	background: -ms-linear-gradient(top,  #ffa500 0%,#ff7200 100%);
	background: linear-gradient(top,  #ffa500 0%,#ff7200 100%);
	color: #fff;
}

.b-pager .b-pager__item_state_current a {
    border: none;
	color: #fff;
	text-decoration: none;
}
