.b-footer-links {
	float: left;
	margin: 0 20px 0 20px;
	font-size: 12px;
	line-height: 16px;
	padding: 11px 0 0 0;
	
	li {
		margin-bottom: 6px;
		padding: 0 0 0 5px;
		list-style: none;
	}
	
	a {
		color: @white;
		text-decoration: none;
		
		&:hover {
			border-bottom: 1px solid @white;
		}
	}
}
.b-footer-seo {
	border-bottom: 1px solid @green-footer-line;
}

.b-footer-counters {
float: right;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 0 20px;
    padding: 11px 0 0;
}