.b-bank-exchange-table {
	
	clear: both;
	
	
	padding-top: 34px;
}

.b-bank-exchange-table__bg {
	background: #fff;
	padding: 20px;
}


.b-bank-exchange-table__wrap {
	width: 100%;
	margin-top: 0px;
	margin-top: -62px;
	table-layout: fixed;
}
.b-bank-exchange-table__wrap th {
	height: 34px;
	text-align:  left;
	vertical-align: bottom;
	padding-bottom: 15px;
	font-size:  14px;
	padding-left: 5px;
}

.b-bank-exchange-table__wrap th:first-child {
	width: 280px;
}

.b-bank-exchange-table__cell {
	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
	line-height: 21px;
	padding-bottom: 6px;
	padding-top: 7px;
	padding-left: 5px;
	padding-right: 5px;
}

.b-bank-exchange-table__row_map {
	display: none;
}

.b-bank-exchange-table__row_oppened {
	display: table-row;
}


.b-bank-exchange-table__row_map td {
	padding: 0px;
}

.b-bank-exchange-table__row {
	cursor: hand;
	cursor: pointer;
}

.b-bank-exchange-table__row:hover > .b-bank-exchange-table__cell {
	background-color: #ffebb2;
}






.b-bank-exchange-table__th-sort {
	color: #037dd3;
	border-bottom: 1px dotted #037dd3;
	position: relative;
	margin-left: 10px;
	cursor: hand;
	cursor: pointer;
}

.b-bank-exchange-table__th-sort:after {
	display:block;
	content: "";
	position: absolute;
	width:7px;
	height:7px;
	right: -10px;
	top: 50%;
	margin-top:-3px;
}


.headerSortUp .b-bank-exchange-table__th-sort:after {
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFVJREFUeNpiZK69zIAEtID4GozDhCQhBsQHgVgRm2QVEIsAcQu6JEh1JpQdAcSGyJIg1WxIGtphDAOoamTgDsROLEAiCognAPEeID4JNdIViMMAAgwA/SoK3xvs+G8AAAAASUVORK5CYII=);
}
.headerSortDown .b-bank-exchange-table__th-sort:after {
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGdJREFUeNpiZK69PIOBgeEDEO8G4vNAbA7ELkD8lwVIrALivUBczoAA/4DYmAlI7APinQyoYAUQX2CCciqhqkHgFxDXgBgwyfNQ1SAwHYjvI0syQFW/AeI2mACyJEi1PRC/ggkABBgAJxsVu2yYt5AAAAAASUVORK5CYII=);	
}



.b-bank-exchange-table__th-sort__sign {
	position: absolute;
	left: -10px;
}

.b-bank-exchange-table__td-title {
	color: #037dd3;
	position: relative;
}

.b-bank-exchange-table__row:hover .b-bank-exchange-table__td-title:after {
	display: inline-block;
	width: 9px;
	height: 4px;
	background: url(less/blocks/b-bank-exchange-table/img/b-bank-exchange-table-arr.png);
	content: '';
	vertical-align: middle;
	position: absolute;
	right: -13px;
	top: 50%;
	margin-top: -1px;
}

.b-bank-exchange-table__row.b-bank-exchange-table__row_opened:hover .b-bank-exchange-table__td-title:after,
.b-bank-exchange-table__row.b-bank-exchange-table__row_opened .b-bank-exchange-table__td-title:after {
	display: inline-block;
	width: 9px;
	height: 4px;
	background: url(less/blocks/b-bank-exchange-table/img/b-bank-exchange-table-arr.png);
	background-position: 0 -5px;
	content: '';
	vertical-align: middle;
	position: absolute;
	right: -13px;
	top: 50%;
	margin-top: -1px;
}

.b-bank-exchange-table__row_innactive:hover .b-bank-exchange-table__td-title:after {
	
}

/*.b-bank-exchange-table__row_innactive.b-bank-exchange-table__row_opened .b-bank-exchange-table__td-title:after {
	background-position: 0 -9px;
}*/
.b-bank-exchange-table__row_opened.b-bank-exchange-table__row_innactive .b-bank-exchange-table__cell .b-bank-exchange-table__td-title:after,
.b-bank-exchange-table__row_opened.b-bank-exchange-table__row_innactive:hover .b-bank-exchange-table__cell .b-bank-exchange-table__td-title:after {
	background-position: 0 -14px;
}

.b-bank-exchange-table__row_innactive:hover .b-bank-exchange-table__cell .b-bank-exchange-table__td-title:after {
	background-position: 0 -9px;
}











.b-bank-exchange-table__td-time {
	display: block;
	text-align: right;
	color: #84a830;
	
}

.b-bank-exchange-table__td-value {
	font-size: 16px;
	color: #666;
}

.b-bank-exchange-table__td-value_best {
	color: #fff;
	background: #84a830;
	padding: 3px 6px 2px;
	position: relative;
	left: -6px;
}


.b-bank-exchange-table__row_innactive .b-bank-exchange-table__cell * {
	color: #b2b2b2;
}

.b-bank-exchange-table__row_opened .b-bank-exchange-table__cell .b-bank-exchange-table__td-title {
	font-weight: bold;
}

.b-bank-exchange-table__map {
	height: 300px;
	width: 100%;
}

.b-bank-exchange-table__cell_first {
	width: 260px;
}







