.b-doska-subscribe {
	position: relative;
	display: block;
	float: right;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 10px;
	margin-left: 0;
	padding: 13px 15px 14px;
	width: 240px;
	height: 88px;
	background: #81a71a;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgxYTcxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzhmMTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#81a71a), color-stop(100%,#6c8f16));
	background: -webkit-linear-gradient(top,  #81a71a 0%,#6c8f16 100%);
	background: -o-linear-gradient(top,  #81a71a 0%,#6c8f16 100%);
	background: -webkit-linear-gradient(top, #81a71a 0%, #6c8f16 100%);
	background: -o-linear-gradient(top, #81a71a 0%, #6c8f16 100%);
	background: linear-gradient(to bottom,  #81a71a 0%,#6c8f16 100%);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	text-decoration: none;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81a71a', endColorstr='#6c8f16',GradientType=0 );
	-webkit-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}

.b-doska-subscribe_unfold {
	margin-left: -780px;
	width: 780px;
	height: 124px;
}

.b-doska-subscribe_done {
	height: 151px;
}

.b-doska-subscribe:hover {
	background: #87ab26;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3YWIyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Mzk1MjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87ab26), color-stop(100%,#739522));
	background: -webkit-linear-gradient(top,  #87ab26 0%,#739522 100%);
	background: -o-linear-gradient(top,  #87ab26 0%,#739522 100%);
	background: -webkit-linear-gradient(top, #87ab26 0%, #739522 100%);
	background: -o-linear-gradient(top, #87ab26 0%, #739522 100%);
	background: linear-gradient(to bottom,  #87ab26 0%,#739522 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87ab26', endColorstr='#739522',GradientType=0 );
}

.b-doska-subscribe:before,
.b-doska-subscribe:after {
	position: absolute;
	bottom: 10px;
	left: 5%;
	z-index: -1;
	width: 45%;
	height: 55%;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
	content: '';
}

.b-doska-subscribe:after {
	right: 5%;
	left: auto;
}

.b-doska-subscribe__title {
	display: block;
	margin-bottom: 5px;
	color: #fff;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
}

.b-doska-subscribe__title_size_big {
	font-size: 24px;
}

.b-doska-subscribe__sub {
	display: block;
	overflow: hidden;
	color: #cde298;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 14px;
}

.js-doska-subscribe-step-2 .b-doska-subscribe__sub {
	max-height: 14px;
}

.js-doska-subscribe-step-4 .b-doska-subscribe__sub {
	max-height: 42px;
}

.b-doska-subscribe__mail {
	position: relative;
	display: block;
	padding-left: 22px;
	color: #fff;
	font-size: 14px;
}

.b-doska-subscribe__mail:before {
	position: absolute;
	top: -2px;
	left: 0px;
	display: block;
	width: 21px;
	height: 17px;
	background: url("../css/less/blocks/b-doska-subscribe/img/b-doska-subscribe_ok.png") 0 0 no-repeat;
	content: '';
}

.b-doska-subscribe .b-separator {
	display: block;
}

.b-doska-subscribe__mail_size_big {
	margin-bottom: 16px;
	padding-left: 28px;
	font-size: 24px;
}

.b-doska-subscribe__mail_size_big:before {
	top: 0px;
	left: 3px;
	width: 26px;
	height: 22px;
	background: url("../css/less/blocks/b-doska-subscribe/img/b-doska-subscribe_ok_big.png") 0 0 no-repeat;
}

.b-doska-subscribe__close {
	position: absolute;
	top: 8px;
	right: 15px;
	z-index: 10;
	display: block;
	width: 16px;
	height: 16px;
	background: url("../css/less/blocks/b-doska-subscribe/img/b-doska-subscribe_close.png") center center no-repeat;
	cursor: hand;
	cursor: pointer;
}

.b-doska-subscribe__form {
	margin-right: -100%;
	margin-bottom: 11px;
}

fieldset input.b-doska-subscribe__input {
	position: relative;
	top: 0px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 3px;
	width: 220px !important;
	height: 33px;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2) inset;
	color: #646464;
	text-indent: 8px;
	font-weight: normal;
	font-size: 18px;
}

.b-doska-subscribe.b-doska-subscribe_state_opened {
	padding-top: 20px;
	width: 780px;
}

.b-doska-subscribe_display_link {
	cursor: hand;
	cursor: pointer;
}
