.b-readmore {
	margin-bottom: 35px;
}

.b-readmore_banki-card {
	padding-left: 180px;
	padding-top: 0px;
}

a.b-readmore__link {
	font-size: 14px;
	outline: none;
}
.b-readmore__hide {
	display: none;
}